@import "../../../../scss/fonts";
@import "../../../../scss/mixins";
@import "../../../../scss/media-queries";
@import "../../../../scss/variables";
@import "../../../../scss/themes";

.blocks-tangle-state {
  display: flex;
  align-items: center;

  @include tablet-down {
    margin-top: 4px;
  }

  .block-tangle-reference {
    display: flex;
    white-space: pre-wrap;
    @include font-size(12px);

    color: $gray-5;
    font-family: $inter;
    font-weight: 500;
    letter-spacing: 0.5px;

    @include phone-down {
      margin-left: 8px;
      flex-direction: column;
      white-space: normal;
    }

    .block-tangle-reference__link {
      color: var(--link-color);
      cursor: pointer;
    }
  }

  .block-tangle-state {
    @include font-size(12px);

    display: flex;
    align-items: center;
    height: 24px;
    margin-right: 8px;
    padding: 0 8px;
    border: 0;
    border-radius: 6px;
    outline: none;
    background-color: $gray-light;
    color: $gray-midnight;
    font-family: $inter;
    font-weight: 500;
    letter-spacing: 0.5px;
    white-space: nowrap;

    @include phone-down {
      height: 32px;
    }

    &.block-tangle-state__confirmed {
      background-color: var(--message-confirmed-bg);
      color: $mint-green-7;
    }

    &.block-tangle-state__conflicting {
      background-color: var(--message-conflicting-bg);
    }

    &.block-tangle-state__milestone {
      background-color: $mint-green-1;
      color: $mint-green-7;
    }

    &.block-tangle-state__pending {
      background-color: var(--light-bg);
      color: #8493ad;
    }

    &.confirmation__no-click {
      pointer-events: none;
    }
  }
}
