@import "../../../../scss/fonts";
@import "../../../../scss/mixins";
@import "../../../../scss/media-queries";
@import "../../../../scss/variables";

.token-info {
    display: flex;
    flex-direction: column;

    .token-metadata__logo {
        width: 32px;
        height: 32px;
    }
    .section .token-metadata .section--data:last-child {
        margin-bottom: 26px;
    }

    .token-metadata__symbol {
        display: flex;
        align-items: center;
        height: 24px;
        margin-right: 8px;
        padding: 0 8px;
        border: 0;
        border-radius: 6px;
        outline: none;
        background-color: $gray-light;
        color: $gray-midnight;
        font-family: $inter;
        font-weight: 500;
        letter-spacing: 0.5px;
        white-space: nowrap;
        background-color: var(--light-bg);
        color: $gray;
    }
}
