@import "../../../scss/fonts";
@import "../../../scss/mixins";
@import "../../../scss/media-queries";
@import "../../../scss/variables";
@import "../../../scss/themes";

tr {
  .date {
    color: #485776
  }

  .price {
    color: #36A1AC;
    font-weight: 600;
  }

  .status {
    background: rgba(0, 224, 202, 0.2);
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    color: #36A1AC;
  }
}

.activity-card {
    display: none;

    @include tablet-down {
        margin-bottom: 48px;

        .field {
            margin-bottom: 8px;

            .label {
                color: $gray-6;
                font-family: $inter;
                letter-spacing: 0.5px;

                @include font-size(14px, 21px);
            }

            .value {
                @include font-size(14px, 21px);

                color: var(--body-color);
                font-family: $metropolis;
                font-weight: 700;

                &.message-id {
                    overflow: hidden;
                    color: $blue-5;
                    font-family: $ibm-plex-mono;
                    font-weight: 500;
                    text-decoration: none;
                    text-overflow: ellipsis;
                    word-break: break-word;
                }

            }
        }

    }
}
