@import "../../../scss/media-queries";

.balance-wrapper {
    margin-left: 4px;
    margin-top: 28px;

    .icon {
        margin-right: 16px;
    }

    .balance-wrapper--inner {
        display: flex;

        .balance {
            display: flex;
            flex-direction: row;
            
            .icon {
                align-self: center;
            }

            &:not(:last-child) {
                margin-right: 40px;

                @include tablet-down {
                    margin-right: 0px;
                }
            }

            .balance-value {
                display: flex;
                flex-direction: column;

                @include tablet-down {
                    flex-direction: row;
                }

                .balance-value--inline {
                    @include tablet-down {
                        margin-left: 5px;
                    }
                }
            }

            .balance-smr, .balance-fiat {
                color: #b0bfd9;
                font-size: 18px;

                @include phone-down {
                    font-size: 14px;
                }
            }

            &:first-child {
                .balance-smr {
                    color: #000;
                }

                .balance-value--inline {
                    span {
                        color: #000;
                    }
                }
            }

            .balance-heading {
                height: 20px;

                .material-icons {
                    font-size: 18px;
                }
            }
        }
    }

    @include tablet-down {
        .balance-wrapper--inner {
            flex-direction: column;

            .balance {
                &:not(:first-child) {
                    margin-top: 12px;
                    margin-left: 56px;
                }
            }
        }
    }
}

