@import "../../../scss/media-queries";

.balance-wrapper {
    margin-left: 4px;
    margin-top: 28px;

    .balance-wrapper--inner {
        display: flex;

        .balance {
            &:first-child {
                margin-right: 32px;
            }

            span {
                color: #b0bfd9;
                font-size: 20px;
                padding-left: 10px;
            }

            .balance-heading {
                height: 20px;
            }
        }
    }

    @include tablet-down {
        .balance-wrapper--inner {
            flex-direction: column;

            .balance {
                &:last-child {
                    margin-top: 12px;
                }
            }
        }
    }
}

