tr {
    @include font-size(14px);

    color: $gray-7;
    font-family: $inter;
    letter-spacing: 0.5px;

    td {
        padding-left: 16px;
        color: var(--body-color);

        &.highlight {
            color: $blue-5;
            @include font-size(14px);

            font-family: $ibm-plex-mono;
            font-weight: normal;
            letter-spacing: 0.02em;
            line-height: 20px;
        }
    }
}

.asset-card {
    display: none;

    @include tablet-down {
        display: block;

        margin-bottom: 48px;

        .field {
            margin-bottom: 8px;

            .label {
                color: $gray-6;
                font-family: $inter;
                letter-spacing: 0.5px;

                @include font-size(14px, 21px);
            }

            .value {
                @include font-size(14px, 21px);

                color: var(--body-color);
                font-family: $metropolis;
                font-weight: 700;
            }
        }
    }
}
