@import "../../../scss/fonts";
@import "../../../scss/mixins";
@import "../../../scss/variables";

.nft-card {
    display: flex;
    width: 200px;
    flex-direction: column;
    font-family: $inter;
    margin: 4px 8px;

    &__metadata {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 208px;
        margin-bottom: 8px;
    }
    &__image {
        border: 2px solid $white;
        border-radius: 8px;
        object-fit: cover;
        width: 200px;
        height: 180px;
    }

    &__name {
        @include font-size(14px);
        margin-top: 4px;
        font-weight: 400;
    }

    &__id {
        @include font-size(14px);
        font-family: $ibm-plex-mono;
        font-weight: normal;
        color: var(--link-color);
    }
}
