.NFT-row {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;

    .nft-image {
        width: 200px;
        height: 180px;
        margin-top: 6px;
    }
    
    .nft-name {
        margin-top: 12px;
        font-weight: 600;
    }

    .nft-id {
        margin-top: 12px;
        color: #B3B3B3;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }
}
