@import "../../../scss/fonts";
@import "../../../scss/mixins";
@import "../../../scss/media-queries";
@import "../../../scss/variables";
@import "../../../scss/themes";

.card--content__output {
    padding: 0 30px;
    margin-bottom: 20px;

    .card--value.card-header--wrapper {
        width: 100%;
        display: flex;
        margin-bottom: 0px;
        height: 32px;

        .output-header {
            display: flex;
            width: 100%;

            .output-type--name {
                white-space: nowrap;
            }

            .output-id--link {
                display: flex;
                margin-right: 2px;
                white-space: nowrap;

                a {
                    margin-right: 0px;
                }

                .highlight {
                    font-weight: 500;
                    color: $gray-6;
                    margin-left: 2px;
                }

                .copy-button {
                    margin-left: 2px;
                }
            }
        }

        .amount-size {
            width: min-content;
            text-align: end;
            cursor: pointer;
            margin-right: 2px;

            span {
                word-break: keep-all;
            }
        }
    }

    .unlock-condition-icon {
        color: #FEC900;
        font-size: 18px;

        @media (min-width: #{768px}) and (max-width: #{820px}) {
            display: none;
        }

        @include phone-down {
            display: none;
        }
    }

    .unlocks-card {
        background-color: var(--light-bg);
        color: var(--body-color);
        padding: 10px;
        margin-bottom: 20px;

        .unlocks-card--row {
            display: flex;
            flex-direction: row;
            align-items: center;

            .public-key, .signature  {
                padding-left: 10px;
                max-width: 80%;

                @include phone-down {
                    max-width: 75%;
                }
            }

            .label {
                @include font-size(12px);
                color: var(--card-color);
                font-family: $inter;
                font-weight: 500;
                letter-spacing: 0.5px;
                white-space: nowrap;
            }

            .value {
                @include font-size(14px, 20px);
                color: var(--body-color);
                font-family: $ibm-plex-mono;
                word-break: break-all;
                padding-left: 10px;
            }
        }
    }

    .left-border {
        border-left: 1px solid var(--border-color);
    }
}

.card--content--dropdown {
    margin-right: 4px;
    cursor: pointer;

    svg {
        transition: transform 0.25s ease;

        path {
            fill: var(--card-color);
        }
    }

    &.opened > svg {
        transform: rotate(90deg);
    }
}

