@import "../../../../scss/fonts";
@import "../../../../scss/mixins";
@import "../../../../scss/media-queries";
@import "../../../../scss/variables";
@import "../../../../scss/themes";

.main-info-boxes {
    max-width: 372px;
    position: absolute;
    right: 8%;
    top: 32%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 20px;
    border-radius: 6px;
    background: var(--header-box-bg);
    backdrop-filter: blur(20px);

    @include desktop-down {
        top: 35%;
        right: 4%;
    }

    @include tablet-down {
        padding: 0;
        width: 100%;
        max-width: inherit;
        top: auto;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 0;
        backdrop-filter: none;
    }

    .info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 24px;

        @include tablet-down {
            padding: 12px;
        }

        .info-box--title {
            @include font-size(12px, 18px);

            color: $gray-5;
            font-family: $inter;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;

            @include tablet-down {
                text-align: center;
            }

            @include phone-down {
                font-size: 10px;
            }
        }

        .info-box--value {
            @include font-size(24px);

            margin-top: 18px;
            color: var(--body-color);
            font-family: $inter;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
            white-space: break-spaces;

            @include tablet-down {
                text-align: center;
            }

            @include phone-down {
                font-size: 14px;
            }

            .upload-rate {
                color: $gray-5;
            }
        }
    }
}

