@import "../../../../scss/fonts";
@import "../../../../scss/mixins";
@import "../../../../scss/media-queries";
@import "../../../../scss/variables";
@import "../../../../scss/themes";

.landing-stardust {
    display: flex;
    flex-direction: column;

    .header-wrapper.shimmer {
        flex-direction: column;
        position: relative;
        z-index: 0;
        overflow: hidden;
        background: var(--shimmer-header-bg);

        &::after,
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 400px;
            height: 800px;
        }

        &::before {
            right: -2px;
            top: -80px;
            background: var(--shimmer-bg);
            background-repeat: no-repeat;
            background-size: 100%;

            @include desktop-down {
                bottom: inherit;
                transform: none;
            }
        }

        .inner {
            position: relative;
            display: flex;
            justify-content: center;
            flex: 1;

            .header {
                display: flex;
                align-items: center;
                min-height: 400px;

                .header--title {
                    text-align: center;

                    @include desktop-down {
                        margin: 0;
                        margin-bottom: 28px;
                    }

                    @include tablet-down {
                        margin-bottom: 66px;
                    }

                    h1 {
                        @include font-size(48px, 58px);

                        font-family: $metropolis-semi-bold;
                        letter-spacing: 0.02em;

                        @include phone-down {
                            @include font-size(32px, 36px);
                        }
                    }

                    h2 {
                        @include font-size(16px, 24px);

                        color: $mint-green-6;
                        font-family: $metropolis-bold;
                        letter-spacing: 0.15em;
                        text-transform: uppercase;
                    }

                    .network-name {
                        text-align: center;
                    }
                }

                .switcher {
                    margin: 0 20px 20px 20px;
                }

                .main-info-boxes {
                    width: 324px;
                    position: absolute;
                    right: 8%;
                    top: 32%;
                    display: grid;
                    grid-template-columns: auto auto;
                    padding: 10px 20px;
                    border-radius: 6px;
                    background: var(--header-box-bg);
                    backdrop-filter: blur(20px);

                    @include desktop-down {
                        top: 60%;
                        right: 4%;
                    }

                    @include tablet-down {
                        padding: 0 20px;
                        width: 100%;
                        top: auto;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        border-radius: 0;
                        backdrop-filter: none;
                    }

                }
            }
        }

        .extended-info-boxes {
            flex-direction: column;
            display: grid;
            grid-template-columns: auto auto;
            padding: 12px;
            background: var(--header-box-bg);
            backdrop-filter: blur(5px);
            margin: 0 calc(-1 * #{$inner-padding});
            border-radius: 0;

            @include desktop-down {
                grid-template-columns: auto;
            }
            @include tablet-down {
                backdrop-filter: none;
                padding-top: 0;
            }
        }

        .info-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 24px;

            @include tablet-down {
                padding: 12px;
            }

            .info-box--title {
                @include font-size(12px, 18px);

                color: $gray-5;
                font-family: $inter;
                font-weight: 500;
                letter-spacing: 0.5px;
                text-align: center;
                text-decoration: none;
                white-space: nowrap;

                @include tablet-down {
                    text-align: center;
                }

                @include phone-down {
                    font-size: 10px;
                }
            }

            .info-box--value {
                @include font-size(24px);

                margin-top: 18px;
                color: var(--body-color);
                font-family: $inter;
                font-weight: 600;
                text-decoration: none;
                text-transform: uppercase;
                white-space: break-spaces;

                @include tablet-down {
                    text-align: center;
                }

                @include phone-down {
                    font-size: 14px;
                }

                .upload-rate {
                    color: $gray-5;
                }
            }

            .info-box--action {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                width: 100%;
                min-height: 40px;
                text-align: right;

                @include tablet-down {
                    min-height: 32px;
                }

                &.info-box--action__labelvalue {
                    @include font-size(12px);

                    @include tablet-down {
                        @include font-size(10px);
                    }

                    align-items: center;
                    justify-content: center;
                    color: $main-green;
                    font-family: $metropolis;
                    white-space: nowrap;

                    .info-box--action__value {
                        color: $white;
                    }
                }

                select {
                    border: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                    color: $white;

                    &:-moz-focusring {
                        color: transparent;
                        text-shadow: 0 0 0 $white;

                        * {
                            color: $gray-10;
                            text-shadow: none;
                        }
                    }
                }

                svg {
                    color: $white;
                }
            }
        }
    }

    .feeds-wrapper.shimmer {
        display: flex;
        background: var(--shimmer-feeds-bg);
        justify-content: center;
        padding: 0 $inner-padding 44px;

        .inner {
            display: flex;
            flex: 1;
            flex-direction: column;
            max-width: 960px;

            .feeds-section {
                display: flex;
                flex-direction: column;

                h1 {
                    @include font-size(32px);

                    margin-bottom: 28px;
                    font-family: $metropolis;
                }

                .feeds {
                    @include desktop-down {
                        flex-direction: column;
                    }

                    .feed {
                        flex: 1;
                        overflow: hidden;

                        @include desktop-down {
                            width: 100%;
                            margin-top: 20px;
                            margin-right: 0;
                        }

                        h2 {
                            margin-bottom: 0;
                            padding-top: 0;
                            padding-left: 0;
                        }



                        .feed-items {
                            min-height: 440px;
                            padding: 15px 0;

                            p {
                                color: var(--body-color);
                            }

                            .feed-item--header {
                                justify-content: space-between;
                                margin-bottom: 10px;
                                padding: 0 8px;

                                .label {
                                    @include font-size(12px, 18px);

                                    min-width: 90px;
                                    color: var(--header-color);
                                    font-family: $inter;
                                    font-weight: 500;
                                    text-transform: uppercase;

                                    @include tablet-down {
                                        display: none;
                                    }
                                }
                            }

                            .feed-item {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 8px;

                                @include tablet-down {
                                    padding: 12px;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    justify-content: flex-start;
                                    margin-bottom: 4px;
                                }

                                &:hover {
                                    border-radius: 6px;
                                    background-color: var(--light-bg);
                                }

                                .feed-item__content {
                                    display: flex;

                                    @include tablet-down {
                                        flex-direction: column;

                                        &:first-child {
                                            margin-bottom: 8px;
                                        }
                                    }
                                }

                                .feed-item--label {
                                    display: none;

                                    @include tablet-down {
                                        display: block;
                                        color: var(--header-color);
                                        font-family: $inter;
                                        letter-spacing: 0.5px;

                                        @include font-size(14px, 21px);
                                    }
                                }

                                .feed-item--value {
                                    @include font-size(12px);

                                    min-width: 90px;
                                    color: $main-green;
                                    font-family: $inter;

                                    &.payload-type {
                                        font-family: $metropolis;
                                        @include font-size(14px, 21px);
                                        color: var(--header-color);
                                        font-weight: 700;
                                        text-align: left;

                                        @include tablet-down {
                                            color: var(--type-color);
                                            text-transform: uppercase;
                                        }
                                    }
                                }

                                .feed-item--hash {
                                    @include font-size(14px, 20px);
                                    overflow: hidden;
                                    color: var(--link-color);
                                    font-family: $ibm-plex-mono;
                                    text-decoration: none;
                                    text-overflow: ellipsis;
                                    word-break: break-word;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .description {
                display: flex;
                justify-content: center;
                padding: 20px;

                @include font-size(14px);

                color: $gray;
                font-family: $metropolis;
            }
        }

    }
}

