@import "../../../../scss/fonts";
@import "../../../../scss/mixins";
@import "../../../../scss/media-queries";
@import "../../../../scss/variables";
@import "../../../../scss/themes";

.landing-stardust {
    display: flex;
    flex-direction: column;

    .header-wrapper.iota {
        padding: 0 $inner-padding;

        @include desktop-down {
            padding: 0;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 250px;
            height: 200px;
        }

        &::before {
            right: 50%;
            transform: translateX(300%);
            background: var(--bubble-2);
            background-repeat: no-repeat;
            background-size: contain;

            @include desktop-down {
                top: 200px;
                right: -130px;
                bottom: inherit;
                transform: none;
            }
        }

        &::after {
            bottom: -25px;
            left: 50%;
            transform: translateX(-100%);
            background: var(--bubble-1);
            background-repeat: no-repeat;
            background-size: contain;

            @include desktop-down {
                top: 0;
                bottom: inherit;
                left: 0;
                transform: translate(-130px, -40px);
            }
        }
    }

    .header-wrapper.shimmer {
        &::after,
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 400px;
            height: 800px;
        }

        &::before {
            right: -2px;
            top: -80px;
            background: var(--shimmer-bg);
            background-repeat: no-repeat;
            background-size: 100%;

            @include desktop-down {
                bottom: inherit;
                transform: none;
            }
        }
    }

    .header-wrapper {
        position: relative;
        z-index: 0;
        overflow: hidden;
        background: var(--header-bg);

        .inner {
            position: relative;
            display: flex;
            justify-content: center;
            flex: 1;

            .header {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                min-height: 400px;

                @include desktop-down {
                    justify-content: start;
                }

                @include tablet-down {
                    justify-content: center;
                }

                .header--title {
                    text-align: center;

                    @include desktop-down {
                        margin: 0;
                        margin-bottom: 28px;
                        margin-left: 160px;
                    }

                    @include tablet-down {
                        margin-bottom: 172px;
                        margin-left: 0px;
                    }

                    h1 {
                        @include font-size(48px, 58px);

                        font-family: $metropolis-semi-bold;
                        letter-spacing: 0.02em;

                        @include phone-down {
                            @include font-size(32px, 36px);
                        }
                    }

                    h2 {
                        @include font-size(16px, 24px);

                        color: $mint-green-6;
                        font-family: $metropolis-bold;
                        letter-spacing: 0.15em;
                        text-transform: uppercase;
                    }

                    .network-name {
                        text-align: center;
                    }
                }

                .switcher {
                    margin: 0 20px 20px 20px;
                }

                @include phone-down {
                    width: 100%;
                }
            }
        }
    }

    .feeds-wrapper {
        display: flex;
        background: var(--feeds-bg);
        justify-content: center;
        padding: 0 $inner-padding 44px;

        .inner {
            display: flex;
            flex: 1;
            flex-direction: column;
            max-width: 960px;

            @include phone-down {
                margin: 0px;
            }

            .feeds-section {
                display: flex;
                flex-direction: column;

                h1 {
                    @include font-size(32px);

                    margin-bottom: 28px;
                    font-family: $metropolis;
                }

                .tabs-wrapper {
                    display: flex;
                    padding-left: 4px;

                    .tab {
                        background: $gray-4;
                        border: 1px solid var(--body-background);
                        border-bottom: none;
                        border-radius: 6px 6px 0 0;

                        &.active {
                            background: $mint-green-6;
                        }

                        &:focus {
                            box-shadow: none;
                            outline: none;
                        }
                    }
                }

                .feeds {
                    @include desktop-down {
                        flex-direction: column;
                    }

                    .feed {
                        flex: 1;
                        overflow: hidden;

                        @include desktop-down {
                            width: 100%;
                            margin-top: 20px;
                            margin-right: 0;
                        }

                        @include phone-down {
                            margin-top: 0px;
                        }

                        h2 {
                            margin-bottom: 0;
                            padding-top: 0;
                            padding-left: 0;
                        }
                    }
                }
            }

            .description {
                display: flex;
                justify-content: center;
                @include font-size(14px);
                color: $gray;
                font-family: $metropolis;
                padding-top: 20px;
            }

            .faucet {
                @include font-size(14px);

                display: flex;
                justify-content: center;
                padding: 20px;
                color: $gray;
                font-family: $metropolis;

                .data-link {
                    color: var(--link-color);
                }
            }

            .card--content {
                padding: 10px 0px;
            }

            @include phone-down {
                margin-top: 0px;
            }
        }
    }
}
