@import './scss/fonts';
@import './scss/layout';
@import './scss/media-queries';
@import './scss/variables';

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-width: $min-width;

  // sass-lint:disable no-ids
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --primary-text: #{$primary-text};
  }
}
