@import "./scss/buttons";
@import "./scss/card";
@import "./scss/section";
@import "./scss/fonts";
@import "./scss/forms";
@import "./scss/layout";
@import "./scss/media-queries";
@import "./scss/variables";
@import "./scss/themes";
@import "chartist/dist/scss/chartist";

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  @include font-size(32px, 40px);

  color: var(--body-color);
  font-family: $metropolis-semi-bold;
}

h2 {
  @include font-size(20px, 24px);

  color: var(--body-color);
  font-family: $metropolis-semi-bold;
  letter-spacing: 0.02em;
}

h3 {
  @include font-size(16px, 20px);

  color: $gray-10;
  font-family: $metropolis-semi-bold;
}

body {
  height: 100%;
  transition: background 0.3s;
  background: var(--body-background);

  #root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    .success {
      color: $success;
    }

    .warning {
      color: $warning;
    }

    .danger {
      color: $danger;
    }

    .info {
      color: $info;
    }

    .active-item {
      color: var(--active-item-color);
    }
  }
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: $gray-daylight;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: $gray-daylight;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: var(--header-color);
}

:root {
  --context-primary: #131f37;
  --context-secondary: #485776;
}
