@import './scss/fonts';
@import './scss/forms';
@import './scss/layout';
@import './scss/media-queries';
@import './scss/variables';

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: $phone-width;
  height: 100%;
  background-color: #f6f8fc;

  // sass-lint:disable no-ids
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --primary: #{$gray-midnight};
    --primary-text: #{$white};
    --context-text: #{$white};
  }
}
