.history
node_modules
.vercel
.local-storage
application-data
.DS_Store

.idea/
/api/dist
/api/.env
/api/logs/
/client/build
/client/public/wasm

config.dev.json
config.local.json
config.local.feed.json
config.staging.json
config.prod.json
env.js

iota-sdk

**/.eslintcache
