.history
node_modules
.vercel
.local-storage
application-data
.DS_Store

/api/dist
/api/.env
/client/build
.idea/

config.dev.json
config.local.json
config.local.feed.json
config.staging.json
config.prod.json
env.js
