@import "../../../scss/media-queries";
@import "../../../scss/variables";

.card--content__output {
    padding: 0 30px;
    margin-bottom: 20px;

    @include phone-down {
        padding: 0 4px;
    }

    .card--value.card-header--wrapper {
        width: 100%;
        display: flex;
        margin-bottom: 0px;
        height: 32px;
        align-items: center;

        .output-header {
            display: flex;
            width: 100%;

            .output-type--name {
                white-space: nowrap;
            }

            .output-id--link {
                display: flex;
                margin-right: 2px;
                white-space: nowrap;

                a {
                    margin-right: 0px;
                }

                .highlight {
                    font-weight: 500;
                    color: $gray-6;
                    margin-left: 2px;
                }

                .copy-button {
                    margin-left: 2px;
                }
            }
        }

        .amount-size {
            width: min-content;
            text-align: end;
            word-break: normal;
            white-space: nowrap;
            cursor: pointer;
            margin-bottom: 0;
            margin-right: 4px;

            span {
                word-break: keep-all;
            }
        }
    }

    .left-border {
        border-left: 1px solid var(--border-color);
    }
}
