@import "../../../scss/fonts";
@import "../../../scss/mixins";
@import "../../../scss/media-queries";
@import "../../../scss/variables";

.foundry {
    display: flex;
    flex-direction: column;

    .wrapper {
        display: flex;
        justify-content: center;

        .inner {
            display: flex;
            flex: 1;
            flex-direction: column;
            max-width: $desktop-width;
            margin: 40px 25px;

            @include desktop-down {
                flex: unset;
                width: 100%;
                max-width: 100%;
                margin: 40px 24px;
                padding-right: 24px;
                padding-left: 24px;

                > .row {
                    flex-direction: column;
                }
            }

            @include tablet-down {
                margin: 28px 0;
            }

            .foundry--header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .balance {
                margin-left: 16px;
            }

            .feature-block {
                .card--label {
                    @include font-size(12px);

                    display: flex;
                    align-items: center;
                    height: 32px;
                    color: var(--card-color);
                    font-family: $inter;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    white-space: nowrap;
                }
                .data-toggle {
                    margin-top: 12px;
                }
            }
        }
    }
}
