@import "../../../scss/fonts";
@import "../../../scss/mixins";
@import "../../../scss/media-queries";
@import "../../../scss/variables";

.validators-page {
    display: flex;
    flex-direction: column;

    .wrapper {
        display: flex;
        justify-content: center;

        .inner {
            display: flex;
            flex: 1;
            flex-direction: column;
            max-width: $desktop-width;
            margin: 40px 25px;

            @include desktop-down {
                flex: unset;
                width: 100%;
                max-width: 100%;
                margin: 40px 24px;
                padding-right: 24px;
                padding-left: 24px;

                > .row {
                    flex-direction: column;
                }
            }

            @include tablet-down {
                margin: 28px 0;
            }

            .validators-page__header {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .header__title {
                    margin-bottom: 8px;
                }
            }

            .all-validators__section {
                font-family: $metropolis;
                margin-top: 40px;
                background-color: $gray-1;
                border-radius: 8px;

                .all-validators__header {
                    width: fit-content;
                    margin: 0 auto;
                    padding: 20px;
                }

                .all-validators__wrapper {
                    margin: 0 20px 20px;

                    .validator-item {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                        margin: 0px 12px;
                        align-items: center;
                        line-height: 32px;
                        justify-content: center;
                        background-color: $gray-3;
                        border-radius: 4px;

                        &.table-header {
                            background-color: $gray-5;
                        }

                        &:not(:last-child) {
                            margin-bottom: 12px;
                        }

                        .validator-item__address,
                        .validator-item__is-candidate,
                        .validator-item__is-elected,
                        .validator-item__fixed-cost,
                        .validator-item__stake,
                        .validator-item__cumulative-stake,
                        .validator-item__delegators,
                        .validator-item__rank {
                            display: flex;
                            margin: 0 auto;
                            justify-content: center;
                        }

                        .validator-item__stake {
                            text-align: center;
                            line-height: 20px;
                        }

                        .validator-item__address {
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
}
