.controls-container {
    //background-color: transparent;
    background: var(--body-background);
    border: 1px solid var(--border-color);
    padding: 8px 16px;
    border-radius: 8px;
    .controls__list {
        display: flex;
        gap: 8px;
    }
    .controls__item {
        flex: 1;
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
        }
    }
    .controls__actions {
        margin-top: 16px;
        display: flex;
        gap: 8px;
    }

    input {
        background: var(--body-background);
        padding: 8px 16px;
    }
}
