.visualizer-stardust {
    .stats-panel-container {
        top: 90px!important;
        left: 20px!important;
        bottom: auto!important;
        justify-content: left!important;

        .stats-panel {
            .card--value,
            .card--label {
                text-align: left;
            }
            .card--label {
                justify-content: flex-start;
            }
            .card--content {
                padding: 0;
            }
            .stats-panel__info{
                padding: 0 10px;
                display: inline-block;
            }
        }
    }
}

