@import '../../../scss/fonts';
@import '../../../scss/mixins';
@import '../../../scss/media-queries';
@import '../../../scss/variables';

.addr {
  display: flex;
  flex-direction: column;

  .wrapper {
    display: flex;
    justify-content: center;

    .inner {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: $desktop-width;
      margin: 40px 20px;

      @include desktop-down {
        max-width: 100%;
        padding-right: 20px;
        padding-left: 20px;

        > .row {
          flex-direction: column;
        }
      }

      h1 {
        margin-bottom: 20px;
      }

      .cards {
        flex: 1;
        margin-right: 24px;

        @include desktop-down {
          flex: unset;
          width: 100%;
          margin-right: 0;
        }

        .value-buttons {
          .col {
            flex: 1;
            width: auto;
          }
        }

        @include desktop-down {
          .value-buttons {
            flex-direction: column;

            .col {
              flex: unset;
              width: 100%;
            }

            .col + .col {
              margin-top: 23px;
              margin-left: 0;
            }
          }
        }

        .col + .col {
          margin-left: 23px;

          @include tablet-down {
            margin-left: 0;
          }
        }
      }

      .card + .card {
        margin-top: 23px;
      }
    }
  }
}
