@import '../../../scss/fonts';
@import '../../../scss/mixins';
@import '../../../scss/media-queries';
@import '../../../scss/variables';

.message {
  display: flex;
  flex-direction: column;

  .wrapper {
    display: flex;
    justify-content: center;

    .inner {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: $desktop-width;
      margin: 40px 20px;

      @include tablet-down {
        margin: 40px 24px;
      }
      @include desktop-down {
        max-width: 100%;
        padding-right: 24px;
        padding-left: 24px;
        margin: 40px 0;

        > .row {
          flex-direction: column;
        }
      }

      h1 {
        margin-bottom: 20px;
      }

      .sections {
        flex: 1;

        @include desktop-down {
          flex: unset;
          width: 100%;
        }
      }

      .section + .section {
        margin-top: 23px;
      }

      .transaction-simple {
        .section + .section {
          margin-top: 0;
          margin-left: 23px;
        }

        @include tablet-down {
          .section + .section {
            margin-top: 23px;
            margin-left: 0;
          }
        }
      }

      .transaction-payload-wrapper {
        margin-top: 23px;
        margin-bottom: 23px;
      }

      @include desktop-down {
        flex: unset;
        width: 100%;
      }

      .value-buttons {
        .col {
          flex: 1;
          width: auto;
        }

        .col + .col {
          margin-left: 24px;
        }
      }

      @include desktop-down {
        .value-buttons {
          flex-direction: column;

          .col {
            flex: unset;
            width: 100%;
          }

          .col + .col {
            margin-top: 23px;
            margin-left: 0;
          }
        }
      }

      .side-panel-container {
        display: flex;
        flex-direction: column;

        @include desktop-down {
          flex: 1;
          width: 100%;
        }
      }
    }
  }
}
