@import "../../scss/fonts";
@import "../../scss/mixins";
@import "../../scss/media-queries";
@import "../../scss/variables";

.identity {
    display: flex;
    flex-direction: column;

    h2 {
        display: flex;
        align-items: center;
    }

    .example-did {
        p {
            color: var(--expanded-color);
            font-family: $inter;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .wrapper {
        display: flex;
        justify-content: center;

        .inner {
            display: flex;
            flex: 1;
            flex-direction: column;
            max-width: $desktop-width;
            margin: 40px 20px;

            @include desktop-down {
                max-width: 100%;
                padding-right: 20px;
                padding-left: 20px;

                > .row {
                    flex-direction: column;
                }
            }

            @include phone-down {
                padding-right: 0;
                padding-left: 0;
            }

            .status {
                @include font-size(14px);
            }

            .cards {
                flex: 1;
                margin-right: 24px;

                @include phone-down {
                    margin-right: unset;
                }

                .item-details {
                    @include font-size(14px);

                    font-family: $metropolis;

                    .item-details-root {
                        word-break: break-all;
                    }
                }
            }
        }
    }

    .tool-description {
        margin: 30px 0;
        color: $gray !important;
        font-family: $inter;
        font-size: 1em !important;
        line-height: 1.6;
    }
}

.unsupported-network {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 6px;
    background-color: rgba(250, 212, 208, 1);
    color: $danger;
    font-family: $metropolis;
}
