@import "../../scss/fonts";
@import "../../scss/mixins";
@import "../../scss/media-queries";
@import "../../scss/variables";

.identity {
  display: flex;
  flex-direction: column;

  .did-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;

    p {
      @include font-size(14px, 21px);

      color: $error !important;
      font-family: $inter;
      letter-spacing: 0.5px;
      text-align: center;
    }
  }

  .example-did {
    p {
      color: var(--expanded-color);
      font-family: $inter;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;

    .inner {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: $desktop-width;
      margin: 40px 20px;

      @include desktop-down {
        max-width: 100%;
        padding-right: 20px;
        padding-left: 20px;

        > .row {
          flex-direction: column;
        }
      }

      @include phone-down {
        padding-right: 0;
        padding-left: 0;
      }

      .status {
        @include font-size(14px);
      }

      .cards {
        flex: 1;
        margin-right: 24px;

        @include phone-down {
          margin-right: unset;
        }

        .item-details {
          @include font-size(14px);

          font-family: $metropolis;

          .item-details-root {
            word-break: break-all;
          }
        }
      }
    }
  }

  .identity-json-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: 1px solid $gray-3;
    border-radius: 6px 6px 0 0;
    background-color: var(--header-identity);

    a {
      color: $gray;

      svg {
        margin-top: 6px;
        margin-right: 8px;
        stroke: var(--did-color);

        &:hover {
          stroke: var(--body-color);
        }

        path {
          fill: var(--did-color);
        }
      }
    }
  }

  .json-wraper {
    padding: 8px;
    border: 1px solid $gray-3;
    border-top: 0;

    * {
      word-break: break-all;
    }
  }

  .tool-description {
    margin: 30px 0;
    color: $gray !important;
    font-family: $inter;
    font-size: 1em !important;
    line-height: 1.6;
  }

  .search-compact {
    width: 40%;
    margin: 13px 0 30px 0;

    @include desktop-down {
      width: 100%;
    }

    @include phone-down {
      width: 100%;
    }
  }
}

.unsupported-network {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
  background-color: rgba(250, 212, 208, 1);
  color: $danger;
  font-family: $metropolis;
}
