@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/media-queries';
@import '../../scss/variables';

.landing {
  display: flex;
  flex-direction: column;

  .wrapper {
    display: flex;
    justify-content: center;

    .inner {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: $desktop-width;

      .header {
        display: flex;
        flex-direction: column;
        padding-top: 50px;

        @include desktop-down {
          padding-top: 20px;
        }


        h2 {
          @include font-size(16px, 24px);

          margin: 0px 20px 5px 20px;
          color: $main-green-highlight;
          text-transform: uppercase;
        }

        h1 {
          @include font-size(40px, 48px);

          margin: 0px 20px 20px 20px;
          color: $white;

          @include phone-down {
            @include font-size(32px, 36px);
          }
        }

        .switcher {
          margin: 0px 20px 20px 20px;
        }

        .search {
          margin: 0px 20px 20px 20px;

          .search--input {
            @include font-size(14px);

            flex: 1;
            height: 48px;
            padding: 0px 24px;
            border: 1px solid $input-border;
            border-radius: 6px 0px 0px 6px;
            color: $gray-10;
            font-family: $inter;
          }

          .search--button {
            @include font-size(14px);

            width: 117px;
            border: 2px solid $main-green-highlight;
            border-radius: 0px 6px 6px 0px;
            background-color: $main-green-highlight;
            color: $white;
            font-family: $inter;
            font-weight: bold;

            &:focus {
              box-shadow: 0 0 3px 0 $white;
            }

            &:disabled {
              opacity: 0.3;
            }
          }
        }

        .info-boxes {
          @include phone-down {
            flex-wrap: wrap;
          }


          .info-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0px 20px 30px 20px;
            border-radius: 6px;
            background: rgba(19, 31, 55, 0.5);
            backdrop-filter: blur(2px);

            @include phone-down {
              width: 100%;
              margin: 0px 20px 30px 20px;
              padding: 10px 0px 0px 20px;
            }


            .info-box--title {
              @include font-size(12px);

              padding: 28px 5px 0px 5px;
              color: $main-green-highlight;
              font-family: $metropolis;
              font-weight: bold;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;

              &.linked {
                &:hover {
                  text-decoration: underline;
                }
              }

              @include tablet-down {
                @include font-size(10px);

                padding: 15px 5px 0px 5px;
              }
            }

            .info-box--value {
              @include font-size(20px);

              @include tablet-down {
                @include font-size(16px);
              }


              padding: 6px 5px;
              color: $white;
              font-family: $metropolis;
              font-weight: bold;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              white-space: nowrap;

              &.linked {
                &:hover {
                  text-decoration: underline;
                }
              }
            }

            .info-box--action {
              display: flex;
              align-items: flex-end;
              justify-content: flex-end;
              width: 100%;
              min-height: 40px;
              text-align: right;

              @include tablet-down {
                min-height: 32px;
              }


              &.info-box--action__labelvalue {
                @include font-size(12px);

                align-items: center;
                justify-content: center;
                color: $main-green;
                font-family: $metropolis;

                .info-box--action__value {
                  color: $white;
                }
              }

              select {
                border: 0;
                background-color: rgba(0, 0, 0, 0.2);
                color: $white;

                // sass-lint:disable no-vendor-prefixes
                &:-moz-focusring {
                  color: transparent;
                  text-shadow: 0 0 0 $white;

                  * {
                    color: $gray-10;
                    text-shadow: none;
                  }
                }
              }

              svg {
                color: $white;
              }
            }
          }
        }
      }

      .feeds-section {
        display: flex;
        flex-direction: column;

        h1 {
          @include font-size(32px);

          font-family: $metropolis;
        }

        .filters {
          margin: 28px 0px;
          padding: 23px;

          .col {
            justify-content: center;
            margin-right: 20px;

            .filter--value {
              @include font-size(12px);

              margin-bottom: 12px;
              color: $gray-header;
              font-family: $metropolis;
              font-weight: bold;
              text-transform: uppercase;
              white-space: nowrap;
            }

            input {
              width: 165px;
              text-align: right;
            }
          }
        }

        .feeds {
          @include desktop-down {
            flex-direction: column;
          }


          .feed {
            flex: 1;
            margin-right: 30px;
            overflow: hidden;

            &.card {
              h2 {
                margin-bottom: 0px;
                padding-top: 0px;
                padding-left: 0px;
              }
            }

            @include desktop-down {
              width: 100%;
              margin-top: 20px;
              margin-right: 0;
            }


            &:last-child {
              margin-right: 0;
            }

            .card--header {
              margin-bottom: 0px;
            }

            .feed-items {
              min-height: 440px;
              padding: 30px;
              background-color: #fbfcfe;

              @include phone-down {
                padding: 20px;
              }


              .feed-item--header {
                margin-bottom: 10px;

                .card--label {
                  min-width: 90px;
                }
              }

              .feed-item {
                align-items: center;
                height: 16px;

                .feed-item--value {
                  @include font-size(12px);

                  min-width: 90px;
                  color: $main-green;
                  font-family: $inter;

                  button {
                    @include font-size(12px);

                    padding: 0;
                    border: 0;
                    background: transparent;
                    color: inherit;
                    font-weight: 400;
                    text-align: left;
                    cursor: pointer;
                  }
                }

                .feed-item--hash {
                  @include font-size(9px);

                  color: $gray-10;
                  font-family: $inter;
                  text-decoration: none;
                  text-overflow: ellipsis;
                  overflow: hidden;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }

              .feed-item + .feed-item {
                margin-top: 20px;
              }
            }
          }
        }

        .description {
          display: flex;
          justify-content: center;
          padding: 20px;

          @include font-size(14px);

          color: $gray;
          font-family: $metropolis;
        }
      }
    }
  }

  .header-wrapper {
    background: linear-gradient(to bottom, var(--context-primary), var(--context-secondary));

    .inner {
      max-width: $desktop-width - 140px;
    }

    .header {
      background-image: url('../../assets/globe.svg');
      background-repeat: no-repeat;
      background-position: center bottom;

      @include tablet-down {
        background-size: cover;
      }
    }
  }

  .feeds-wrapper {
    padding: 44px 20px;

    .inner {
      @include desktop-down {
        max-width: 98%;
      }
    }
  }
}
