@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/media-queries';
@import '../../scss/variables';

.markets {
  display: flex;
  flex-direction: column;

  .wrapper {
    display: flex;
    justify-content: center;

    .inner {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: stretch;
      max-width: $desktop-width;
      margin: 40px 20px;

      .row {
        flex: 1;
      }

      .cards {
        flex: 1;
      }

      h1 {
        margin-bottom: 20px;
      }

      p {
        @include font-size(12px);

        color: $gray-10;
        font-family: $metropolis;
        font-weight: bold;
      }

      .tooltip-container {
        position: relative;
        z-index: 10;

        .tooltip {
          position: absolute;
          right: 20px;
          min-width: 150px;
          padding: 10px;
          border: 2px solid $input-border;
          border-radius: 5px;
          background-color: $white;

          @include font-size(12px);

          font-family: $inter;
          font-weight: bold;

          &.hidden {
            display: none;
          }
        }
      }

      .date-links {
        @include font-size(12px);

        padding: 4px 8px;
        border: 1px solid $dark-green;
        border-radius: 6px;
        outline: none;
        background: $dark-green;
        color: $white;
        font-family: $metropolis;
        font-weight: bold;
        cursor: pointer;

        &.date-links--secondary {
          border-color: $dark-green;
          background-color: $white;
          color: $dark-green;
        }
      }

      .line-container,
      .bar-container {
        .crosshair-h,
        .crosshair-v {
          position: absolute;
          background-color: $dark-green;

          &.hidden {
            display: none;
          }
        }

        .crosshair-h {
          height: 1px;
        }

        .crosshair-v {
          width: 1px;
        }

        .ct-chart {
          width: 100%;
          height: 300px;

          svg {
            .ct-label {
              &.ct-horizontal,
              &.ct-vertical {
                @include font-size(10px);

                font-family: $inter;
                font-weight: bold;
              }

              &.ct-horizontal {
                justify-content: flex-start;
              }
            }

            .ct-series {
              &.ct-series-a {
                .ct-line {
                  stroke-width: 2px;
                  stroke: $main-green-highlight;
                }

                .ct-point {
                  stroke-width: 4px;
                  stroke: $main-green-highlight;
                }

                .ct-area {
                  fill: url(#gradient-a);
                  fill-opacity: 0.3;
                }

                .ct-bar {
                  stroke-width: 6px;
                  stroke: $main-green;
                }
              }
            }
          }
        }
      }

      .bar-container {
        .ct-chart {
          height: 150px;
        }
      }

      .data-source {
        margin-top: 30px;

        a {
          color: $main-green;
        }
      }
    }
  }
}
