@import "../../scss/fonts";
@import "../../scss/mixins";
@import "../../scss/media-queries";
@import "../../scss/variables";
@import "../../scss/themes";

.search {
    display: flex;
    flex-direction: column;

    .wrapper {
        display: flex;
        justify-content: center;

        .inner {
            display: flex;
            flex: 1;
            flex-direction: column;
            max-width: $desktop-width;
            margin: 40px 20px;

            h3 {
                margin-bottom: 20px;
            }

            p {
                @include font-size(16px);

                font-family: $metropolis;
            }

            ul {
                @include font-size(16px);

                margin-left: 40px;
                font-family: $metropolis;

                li {
                    margin-bottom: 10px;
                    color: var(--body-color);

                    > span {
                        &:first-child {
                            margin-right: 10px;
                            color: $main-green;
                        }
                    }
                }
            }
        }
    }
}
