@import "../../scss/fonts";
@import "../../scss/mixins";
@import "../../scss/media-queries";
@import "../../scss/variables";
@import "../../scss/themes";

.visualizer {
  margin: 30px 40px;

  h1 {
    min-width: 230px;
  }

  @include phone-down {
    margin: 20px;
  }

  .graph-border {
    display: flex;
    position: relative;
    flex: 1;
    align-items: stretch;
    justify-content: stretch;
    height: 70vh;
    overflow: hidden;
    border: 1px solid var(--input-border-color);
    border-radius: 6px;

    .viva {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
    }

    .selected-node {
      @include font-size(12px);

      position: absolute;
      z-index: 1;
      margin: 5px;
      background-color: $white;
      color: $main-green-highlight;
      font-family: $metropolis;
      word-break: break-all;
    }
  }

  &.dark-mode {
    .graph-border {
      .viva {
        background: $gray-midnight;
      }
    }
  }

  .filter {
    flex: 1;

    @include tablet-down {
      display: none;
    }

    .card--content {
      padding: 10px 30px;
    }

    button {
      white-space: nowrap;
    }
  }

  .sidepanel-border {
    flex: 0 0 220px;
    border: 1px solid var(--input-border-color);
    border-radius: 6px;
    background-color: transparent;

    @include tablet-down {
      &.tablet-hidden,
      &.phone-hidden {
        display: none;
      }
    }

    .hash {
      width: 135px;
    }
  }

  .key {
    flex: 1;

    .card--content {
      padding: 10px 20px;

      .card--label {
        margin: 6px 20px 6px 0;
      }
    }
  }

  .visualizer--key {
    @include font-size(12px);

    margin-right: 10px;
    font-family: $metropolis;

    &.visualizer--key__value {
      margin: 6px 12px 6px 0;
      padding: 6px;
      border-radius: 6px;
      color: $white;
      text-align: center;

      &.pending {
        background-color: #bbbbbb;
      }

      &.referenced {
        background-color: #61e884;
      }

      &.included {
        background-color: #4caaff;
      }

      &.conflicting {
        background-color: #ff8b5c;
      }

      &.confirmed-value {
        background-color: #3f985a;
      }

      &.confirmed-zero {
        background-color: #0fc1b7;
      }

      &.milestone {
        background-color: #666af6;
      }

      &.search-result {
        margin-right: 20px;
        background-color: #e79c18;
      }
    }
  }
}
