@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/media-queries';
@import '../../scss/variables';

.visualizer {
  margin: 40px;

  .graph-border {
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: stretch;
    height: 80vh;
    border: 1px solid $gray;
    border-radius: 6px;
    overflow: hidden;

    .viva {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
    }

    .selected-node {
      @include font-size(12px);

      position: absolute;
      margin: 5px;
      background-color: $white;
      color: $main-green-highlight;
      font-family: $metropolis;
      z-index: 1;
      word-break: break-all;
    }
  }

  .visualizer-container {
    min-width: 200px;
  }

  .visualizer-label {
    @include font-size(16px);

    color: $gray-10;
    font-family: $metropolis;
    font-weight: bold;
  }

  .visualizer-value {
    @include font-size(16px);

    color: $main-green-highlight;
    font-family: $metropolis;
    font-weight: bold;

    &.visualizer-value__small {
      @include font-size(12px);

      word-break: break-all;
    }
  }

  .visualizer--key {
    @include font-size(16px);

    margin-right: 10px;
    font-family: $metropolis;
    font-weight: bold;

    &.visualizer--key__value {
      padding: 6px;
      border-radius: 6px;
      color: $white;

      &.pending {
        background-color: $gray;
      }

      &.confirmed-value {
        background-color: #e79c18;
      }

      &.confirmed-zero {
        background-color: $main-green;
      }
    }
  }
}
