@import "../../../../scss/mixins";
@import "../../../../scss/fonts";
@import "../../../../scss/variables";

#tooltip {
    display: none;
    position: fixed;
    background-color: var(--light-bg);
    padding: 8px 16px;
    border-radius: 4px;
    z-index: 1;

    #content {
        p, span {
            font-family: $inter;
            letter-spacing: 0.5px;
        }
        p {
            margin-bottom: 4px;
        }

        span.value {
            font-weight: 600;
        }
        .dot {
            height: 8px;
            width: 8px;
            margin-right: 4px;
            border-radius: 50%;
            display: inline-block;
        }
    }
}

