@import "../../../../scss/mixins";
@import "../../../../scss/fonts";
@import "../../../../scss/variables";
@import "../../../../scss/media-queries";

.chart-header {
    .chart-header__title {
        h4 {
            @include font-size(16px);

            min-height: 40px;
            display: flex;
            align-items: center;
            color: $gray-6;
            font-family: $inter;
            font-weight: 700;
            letter-spacing: 0.5px;
            line-height: 24px;
            font-feature-settings: 'pnum' on, 'lnum' on, 'ss01' on;
        }
    }

    .chart-header__select {
        .select-wrapper {
            select {
                background: var(--statistics-select-bg);
                color: var(--card-color);
                border-color: var(--statistics-select-border);
                height: 48px;
            }

            .chevron {
                top: 12px;
                color: var(--card-color);
            }
        }
    }
    .charts-css.legend {
        padding: 1rem;
        border: 1px solid var(--legend-border-color);
        list-style: none;
        font-size: 1rem;
        &.legend-inline {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-direction: normal;
            -webkit-box-orient: horizontal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }
    .charts-css.legend li:first-child::before {
        background-color: var(--modal-color,transparent);
        border-color: var(--border-color,var(--border-color,#000));
    }

    .charts-css.legend-circle li::before {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }

    .charts-css.legend li::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        -webkit-margin-end: .5rem;
        margin-inline-end: .5rem;
        border-width: 2px;
        border-style: solid;
    }
}

