@import "../../../../scss/mixins";
@import "../../../../scss/fonts";
@import "../../../../scss/variables";
@import "../../../../scss/media-queries";

.chart-header {
    .chart-header__title {
        h4 {
            @include font-size(14px);

            padding-left: 7px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            height: 21px;
            color: var(--card-color);
            font-family: $inter;
            font-weight: 700;
            letter-spacing: 0.5px;
            white-space: nowrap;
        }
    }

    .chart-header__select {
        position: absolute;
        top: 16px;
        right: 24px;

        .select-wrapper {
            select {
                background: var(--body-background);
                color: var(--card-color);
            }

            .chevron {
                color: var(--card-color);
            }
        }
    }
    .charts-css.legend {
        padding: 1rem;
        border: 1px solid var(--legend-border-color);
        list-style: none;
        font-size: 1rem;
        &.legend-inline {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-direction: normal;
            -webkit-box-orient: horizontal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }
    .charts-css.legend li:first-child::before {
        background-color: var(--modal-color,transparent);
        border-color: var(--border-color,var(--border-color,#000));
    }

    .charts-css.legend-circle li::before {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }

    .charts-css.legend li::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        -webkit-margin-end: .5rem;
        margin-inline-end: .5rem;
        border-width: 2px;
        border-style: solid;
    }
}