@import "../../../../scss/mixins";
@import "../../../../scss/fonts";
@import "../../../../scss/variables";

.chart-title {
    @include font-size(16px);

    display: flex;
    align-items: center;
    height: 32px;
    color: var(--card-color);
    font-family: $inter;
    font-weight: 700;
    letter-spacing: 0.5px;
    white-space: nowrap;
}