@import "../../../../scss/mixins";
@import "../../../../scss/variables";
@import "../../../../scss/fonts";

.chart-select {
    .select-container {
        select {
            position: absolute;
            top: 16px;
            right: 24px;
            background: var(--body-background);
            color: var(--body-color);
            cursor: pointer;
            min-height: 34px;
            max-width: 200px;
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 4px 8px;

            &:focus-visible {
                outline: none;
            }

            option {
                color: var(--modal-color);
                font-family: $inter;
                font-weight: 400;
            }
        }
    }
}