@import "../../../../scss/fonts";
@import "../../../../scss/mixins";
@import "../../../../scss/media-queries";
@import "../../../../scss/variables";

.richest-addr-section {
  ul.richest-addr__list {
    padding: 1rem;

    li.richest-addr__entry {
      @include font-size(14px);
      font-family: $ibm-plex-mono;
      font-weight: normal;
      letter-spacing: 0.02em;
      line-height: 26px;

      @include tablet-down {
        // flex-direction: column;
        justify-content: space-between;
      }

      .entry__left {
        flex-grow: 1;

        .entry__idx {
          text-align: center;
          width: 16px;
          margin-right: 1rem;
          color: $gray-5;
        }

        .entry__address {
          max-width: 99%;
          margin-right: 1rem;
          color: var(--link-color);
        }

        @include tablet-down {
          max-width: 60%;
        }

        @include phone-down {
          max-width: 50%;
        }
      }

      .entry__right {
        .entry__balance {
          white-space: nowrap;
          @include font-size(14px);
          color: var(--card-color);
        }

        @include tablet-down {
          .entry__balance {
            @include font-size(10px);
          }
        }

        @include phone-down {
          .entry__balance {
            @include font-size(9px);
          }
        }
      }
    }
  }
}
