@import "../../../scss/variables";
@import "../../../scss/fonts";
@import "../../../scss/layout.scss";
@import "../../../scss/themes";

.identity-compare-dropdown {
  .dropdown-wrapper {
    position: relative;
    padding-left: 12px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 1px;
      height: 24px;
      transform: translateY(-50%);
      background-color: $gray-3;

      @include tablet-down {
        display: none;
      }
    }
  }

  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .compare-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 150px;
    height: 30px;
    padding: 5px 10px;
    transition: transform 0.2s ease;
    border-radius: 5px;
    white-space: nowrap;

    &.opened {
      img {
        transform: rotate(-180deg);
      }
    }

    .message-selected {
      padding: 2px 8px;
      border-radius: 6px;
      background: rgba(20, 202, 191, 0.08);

      p {
        color: var(--body-color);
        font-family: $ibm-plex-mono;
        font-weight: normal;
        letter-spacing: 0.02em;
        line-height: 20px;

        @include font-size(14px);
      }

      svg,
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    img {
      width: 13px;
      margin-left: 10px;
      transition: transform 0.2s ease;
    }

    &:hover {
      cursor: pointer;
    }

    p {
      @include phone-down {
        font-size: 0.7em !important;
      }
    }
  }

  p.dropdown-placeholder {
    align-self: center;
    color: var(--expanded-color);
    font-family: $inter;
    font-weight: 500;
    letter-spacing: 0.5px;

    @include font-size(12px, 18px);
  }

  .dropdown-content {
    display: flex;
    position: absolute;
    top: 45px;
    flex-direction: column;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid $gray-3;
    border-radius: 5px;
    background-color: var(--body-background);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 6px;
    }
  }

  .dropdown-item {
    position: static;
    width: 100%;
    min-height: 52px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background-color: $light-green !important;
    }
  }

  .dropdown-item-selected {
    background-color: var(--header-identity);
  }

  .dropdown-item-title {
    margin-top: 12px;
    margin-left: 10px;

    p {
      margin-left: 10px;
    }
  }

  .dropdown-item-timestamp {
    margin-top: 7px;
    margin-left: 30px;
  }

  .reset-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 7px;
    border: 0;
    background: transparent;
  }

  .dropdown-item-warning {
    margin: 20px 5px;
    color: $warning !important;
  }
}
