@import "../../../scss/fonts";
@import "../../../scss/mixins";
@import "../../../scss/media-queries";
@import "../../../scss/variables";
@import "../../../scss/layout.scss";

.did-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;

  p {
    @include font-size(14px, 21px);

    color: $error !important;
    font-family: $inter;
    letter-spacing: 0.5px;
    text-align: center;
  }
}

.json-wraper-stardust-identity {
  color: $gray;
  padding: 8px;
  border: 1px solid $gray-3 !important;
  border-radius: 7px;

  * {
    word-break: break-all;
  }
}

.unsupported-network {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
  background-color: rgba(250, 212, 208, 1);
  color: $danger;
  font-family: $metropolis;
}

// Override key color in JSON viewer.
.key {
  color: var(--did-color) !important;
}
