@import "../../../scss/fonts";
@import "../../../scss/mixins";
@import "../../../scss/variables";

.msg-id-overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 6px;
  background-color: $white;

  &.pointer {
    &:hover {
      cursor: pointer;
    }
  }

  svg {
    margin-right: 10px;
  }
}
