@import "../../../scss/fonts";
@import "../../../scss/mixins";
@import "../../../scss/media-queries";
@import "../../../scss/variables";

.load-history-button {
  padding: 10px 17px !important;
  border: 1px solid $gray-header !important;
  border-radius: 6px;
  color: $gray-header !important;
  font-family: $metropolis !important;
  cursor: pointer !important;

  &:hover {
    border-color: $gray-10 !important;
    color: $gray-10 !important;
    text-decoration: none !important;
  }
}

.history-content {
  margin: 30px 0;
}

.history-tree {
  height: 100%;
  margin-right: 20px;
  margin-left: 0 !important;

  @include phone-down {
    margin-right: 0;
  }
}

.history-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
