@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/fonts";
@import "../../../scss/layout.scss";

.history-error {
  color: $danger !important;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: $gray-10;
}

.difference-select {
  font-family: $metropolis !important;

  select {
    font-size: 13px !important;
    height: 26px !important;
  }

  img {
    top: 10px !important;
  }
}

.compare-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include phone-down{
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      svg{
        align-self: center;
      }
    }
}
