@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/fonts";
@import "../../../scss/layout.scss";

.container {
  width: 100%;
}

.diff-wrapper {
  border: 1px solid $gray-3;
  border-top: 0;
  padding-right: 8px;

  * {
    word-break: break-all;
  }
}

.json-viewer {
  @include font-size(12px, 20px);

  font-family: $ibm-plex-mono;
  letter-spacing: 0.02em;
  white-space: pre-wrap;

  .string {
    color: green;
  }

  .number {
    color: darkorange;
  }

  .boolean {
    color: blue;
  }

  .null {
    color: magenta;
  }

  .key {
    color: $gray-10;
  }
}

.difference-select {
  font-family: $metropolis !important;

  select {
    height: 26px !important;
    font-size: 13px !important;
  }

  img {
    top: 10px !important;
  }
}

.compare-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .compare-icon {
    align-self: center;
    justify-self: center;
    margin: 0 3px;
  }

  @include tablet-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    .compare-icon {
      display: none;
    }
  }

  @include desktop-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    .compare-icon {
      display: none;
    }
  }
}

.toggle-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  margin-right: 5px;
  margin-left: 5px;
  overflow: hidden;
  border: 1px solid $gray-3;
  border-radius: 5px;
  cursor: pointer;

  @include phone-down {
    height: 50px;
    flex-direction: column;
  }
}

.toggle-button {
  height: 100%;
  padding: 3px 8px;
  color: var(--expanded-color);
  font-family: $inter;
  font-weight: 500;
  @include font-size(12px, 18px);

  @include phone-down {
    text-align: center;
    width: 100%;
  }
}

.toggle-button-active {
  background-color: $light-green;
  color: var(--body-color);
}

.download-button {
  margin-top: 4px;
  margin-right: 8px;
  margin-left: 19px;
  svg {
    path {
      fill: var(--did-color);
    }
  }
  @include phone-down {
    height: 60px;
    padding: 0.88em 4px;
  }
}

.toggle-separator {
  width: 1px;
  height: 100%;
  background-color: $gray-3;

  @include phone-down {
    width: 100%;
    height: 1px;
  }

  .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
