@import "../../../scss/fonts";
@import "../../../scss/mixins";
@import "../../../scss/media-queries";
@import "../../../scss/variables";
@import "../../../scss/themes";

.identity-search-input {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  backdrop-filter: blur(1px);

  .identity-search--text-input {
    @include font-size(14px);

    flex: 1;
    height: 48px;
    padding: 12px 12px 12px 52px;
    transition: border-color 0.2s ease;
    border: 1px solid var(--input-border-color);
    border-radius: 6px;
    background-color: transparent;
    box-shadow: none;
    color: var(--body-color);
    font-family: $inter;

    &::placeholder {
      color: var(--input-border-color);
    }

    &:focus {
      border-color: var(--input-focus-border-color);
    }

    @include phone-down {
      @include font-size(12px);

      height: 32px;
    }
  }

  p {
    position: absolute;
    top: 45px;
    margin: 10px 0 !important;
    color: $warning !important;
  }

  &.identity-search-input--compact {
    .identity-search--text-input {
      @include font-size(12px);

      height: 38px;
    }

    p {
      position: absolute;
      top: 35px;
      margin: 10px 0 !important;
      color: $warning !important;
    }
  }

  svg {
    position: absolute;
    left: 16px;

    path {
      fill: var(--search-svg);
    }
  }
}
