@import "../../../scss/fonts";
@import "../../../scss/media-queries";
@import "../../../scss/mixins";
@import "../../../scss/variables";

footer {
    position: relative;
    .shimmer-footer--content {
        display: flex;
        justify-content: center;
        padding: 40px 20px 0px 20px;
        background-color: #061a28;
        color: $white;

        .arcs {
            margin-right: 40px;

            @include phone-down {
                position: absolute;
                left: 0;
                opacity: 0.2;
            }
        }

        @include tablet-down {
            padding: 32px 24px 24px 24px;
        }

        .shimmer-inner {
            flex: 1;
            max-width: 80%;

            @include phone-down {
                text-align: center;
            }

            img {
                width: 152px;
                height: 48px;
                margin-bottom: 28px;
            }

            .footer-grid {
                display: grid;
                grid-gap: 8px;
                grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
                grid-template-rows: 1fr;
                margin-bottom: 24px;

                section:not(.social--media__wrapper) {
                    padding: 0px 12px;
                }

                @include tablet-down {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;

                    section:not(.social--media__wrapper) {
                        padding: 0px;
                    }
                }

                @include phone-down {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                }
            }

            section {
                font-weight: 500;
                letter-spacing: 0.5px;

                h3 {
                    @include font-size(12px, 16px);

                    margin-bottom: 16px;
                    color: $gray-6;
                    font-family: $metropolis-bold;
                    letter-spacing: 0.15em;
                    text-transform: uppercase;
                    white-space: nowrap;
                }

                ul {
                    list-style: none;

                    li {
                        @include font-size(12px, 18px);

                        margin-bottom: 8px;
                        font-family: $inter;
                        font-weight: 500;

                        a {
                            color: $gray-3;
                            font-family: inherit;
                            letter-spacing: 0.5px;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        pre {
                            font-family: inherit;
                        }

                        &:first-child {
                            color: $gray-3;
                        }

                        .data-label {
                            margin-right: 5px;
                        }
                    }
                }
            }

            .sep {
                margin-bottom: 24px;
                border: 0;
                border-top: 1px solid rgba(255, 255, 255, 0.12);

                @include phone-down {
                    display: none;
                }
            }

            .foundation-data {
                @include font-size(12px, 20px);

                display: flex;
                justify-content: flex-start;
                color: $gray-6;
                font-family: $inter;

                div {
                    width: 25%;
                }

                @include tablet-down {
                    flex-direction: column;

                    div {
                        width: 100%;
                        margin-top: 0;
                        text-align: center;

                        img {
                            margin-bottom: 24px;
                        }
                    }
                }

                section {
                    width: 25%;
                    margin-bottom: 28px;

                    @include tablet-down {
                        width: 100%;
                    }

                    &:last-of-type {
                        width: 50%;

                        @include tablet-down {
                            width: 100%;
                        }
                    }

                    ul {
                        li {
                            a {
                                color: $main-green;
                            }
                        }
                    }
                }
            }
        }
    }

    .social--media__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-image: radial-gradient(#92a6b4 1px, transparent 0);
        background-size: 40px 40px;

        .social--media__item {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 24px;
                height: 24px;

                path {
                    fill: #92a6b4;
                }
            }
        }
    }
}
