@import '../scss/fonts';
@import '../scss/media-queries';
@import '../scss/mixins';
@import '../scss/variables';

.app {
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
  display: flex;
  flex: 1;
  flex-direction: column;

  .content {
    margin-top: $navbar-height-desktop;
    min-height: 300px;
    position: relative;
    flex: 1;
    padding-bottom: 52px;

    @include desktop-down {
      margin-top: calc(2 * #{$navbar-height-mobile});
    }
  }

  .maintenance {
    display: flex;
    justify-content: center;
    margin: 100px 0;

    .maintenance-inner {
      @include font-size(18px);

      max-width: $desktop-width;
      color: var(--body-color);
      font-family: $metropolis;
    }
  }

  .copyright {
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    background-color: var(--header-identity);
    letter-spacing: 0.1em;

    &.shimmer-copyright {
      background-color: var(--shimmer-copyright);
    }

    .copyright-inner {
      @include font-size(12px);

      max-width: $desktop-width;
      color: $gray-6;
      font-family: $metropolis;
      font-weight: 600;

      @include phone-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        line-height: 20px;
      }

      a {
        color: $main-green-highlight;
        text-decoration: none;
      }
    }
  }
}
