@import '../scss/fonts';
@import '../scss/media-queries';
@import '../scss/mixins';

.app {
  display: flex;
  flex: 1;
  flex-direction: column;

  .content {
    flex: 1;
    min-height: 300px;
  }

  .maintenance {
    display: flex;
    justify-content: center;
    margin: 100px 0px;

    .maintenance-inner {
      @include font-size(18px);
      max-width: $desktop-width;
      font-family: $metropolis;
    }
  }
}
