@import "../scss/fonts";
@import "../scss/media-queries";
@import "../scss/mixins";
@import "../scss/variables";

.app {
    -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
    display: flex;
    flex: 1;
    flex-direction: column;

    .content {
        margin-top: $navbar-height-desktop;
        min-height: 300px;
        position: relative;
        flex: 1;

        @include desktop-down {
            margin-top: calc(2 * #{$navbar-height-mobile});
        }

        .disclaimer-banner {
            padding: 20px;
            border-radius: 0;
            border: 1px solid $iota2-teal-500;
            background-color: rgba($iota2-teal-500, 0.2);

            p {
                color: var(--body-color);
                font-size: 16px;
            }
        }
    }

    .maintenance {
        display: flex;
        justify-content: center;
        margin: 100px 0;

        .maintenance-inner {
            @include font-size(18px);

            max-width: $desktop-width;
            color: var(--body-color);
            font-family: $metropolis;
        }
    }
}
