@import "../../../../scss/fonts";
@import "../../../../scss/mixins";
@import "../../../../scss/media-queries";
@import "../../../../scss/variables";
@import "../../../../scss/themes";

.section.transaction-history--section {
    padding-top: 24px;

    .section--header {
        width: 100%;
        min-height: 40px;
    }

    .transaction-history--table {
        width: 100%;
        border-spacing: 0 0;

        @include tablet-down {
            display: none;
        }

        tr {
            @include font-size(14px);

            border: 1px solid;
            border-radius: 4px;
            color: $gray-7;
            font-family: $inter;
            letter-spacing: 0.5px;

            &.dark {
                background: var(--transaction-history-dark-row);
            }

            th,
            td {
                padding: 16px;
            }

            th {
                @include font-size(12px);

                color: $gray-6;
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
            }

            td {
                text-align: center;
                width: 33%;
                text-wrap: nowrap;

                &.transaction-id,
                &.output-id {
                    @include font-size(14px);
                    color: var(--link-color);
                    font-family: $ibm-plex-mono;
                    font-weight: normal;
                    letter-spacing: 0.02em;
                    line-height: 20px;
                    word-break: break-all;
                    text-align: -webkit-center;
                }

                &.output-id .highlight {
                    font-weight: 500;
                    color: $gray-6;
                    margin-left: 2px;
                }

                &.transaction-id a {
                    max-width: 100px;
                }

                &.output-id a {
                    max-width: 100px;
                }

                &.date {
                    @include font-size(14px);
                    font-family: $ibm-plex-mono;
                }

                &.amount {
                    color: var(--amount-color);
                    @include font-size(16px, 21px);
                    font-weight: 700;
                    text-align: right;

                    &.negative {
                        color: var(--expanded-color);
                    }
                }
            }

            td,
            th {
                &:first-child {
                    text-align: left;
                }
                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    .transaction-history--cards {
        display: none;

        @include tablet-down {
            display: block;

            .card {
                padding: 12px;
                margin-bottom: 16px;

                .field {
                    margin-bottom: 8px;

                    .card--label {
                        @include font-size(14px, 21px);
                    }

                    .amount {
                        font-family: $inter;
                        font-size: 0.875rem;
                        font-weight: 700;
                        letter-spacing: 0.5px;

                        &.positive {
                            color: $mint-green-7;
                        }

                        &.negative {
                            color: var(--expanded-color);
                        }
                    }
                }
            }
        }
    }

    .load-more--button {
        margin: 24px 0 8px 0;
        align-self: center;
        font-family: $metropolis;
        width: fit-content;
        padding: 4px 8px;
        cursor: pointer;

        &:hover {
            button {
                color: var(--link-highlight);
            }
        }

        button {
            padding: 6px;
            color: var(--header-icon-color);
        }
    }

    .pagination {
        margin-top: 8px;
    }
}
