@import "../../../../scss/variables";
@import "../../../../scss/fonts";

.stats-section {
    font-family: $metropolis;
    margin-top: 40px;
    background-color: $gray-1;
    border-radius: 8px;

    .stats-section__header {
        width: fit-content;
        margin: 0 auto;
        padding: 20px;
    }

    .stats-section__wrapper {
        display: flex;
        justify-content: center;
        margin: 0 20px 20px;

        .stat-entry {
            width: 160px;
            padding: 12px;
            background-color: $gray-3;
            border-radius: 8px;
            display: flex;
            flex-direction: column;

            &__label {
                text-align: center;
                white-space: nowrap;
            }

            &__value {
                margin-top: 8px;
                text-align: center;
            }

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
}
