@import "../../../../scss/variables";
@import "../../../../scss/fonts";

.epoch-section {
    font-family: $metropolis;
    margin-top: 40px;
    background-color: $gray-1;
    border-radius: 8px;

    .epoch-section__header {
        width: fit-content;
        margin: 0 auto;
        padding: 20px;
    }

    .epoch-progress__wrapper {
        display: flow-root;
        background-color: $gray-3;
        margin: 0 20px 20px;
        border-radius: 8px;

        .epoch-progress__stats-wrapper {
            display: flex;
            padding: 12px;
            flex-direction: row;
            justify-content: space-evenly;

            .epoch-progress__stat {
                width: 160px;
                background-color: $gray-4;
                padding: 10px 20px;
                border-radius: 8px;
                text-align: center;
            }
        }
    }

    .epoch-section__controls {
        display: flex;
        margin: 20px;
        flex-direction: row;
        justify-content: space-between;

        .epoch-section__button {
            background-color: $gray-4;
            padding: 10px 20px;
            border-radius: 8px;
        }
    }
}
