@import "../../../../scss/variables";
@import "../../../../scss/fonts";
@import "../../../../scss/mixins";

.slots-section {
    font-family: $metropolis;
    margin-top: 92px;

    .slots-section__header {
        @include font-size(36px);
        line-height: 120%;
        margin-bottom: 60px;
    }

    .slots-section__table {
        .slot-id {
            max-width: 165px;
        }

        .status-pill {
            margin-right: 0px;
        }
    }
}
