@import "../../../../scss/variables";

.progress-bar__wrapper {
    --height-large: 32px;
    --height-small: 8px;

    .progress-bar {
        position: relative;
        background-color: #{$iota2-blue-300};
        height: var(--progress-bar-height);
        border-radius: 4px;
        overflow: hidden;

        &.large {
            height: var(--height-large);
        }
        &.small {
            height: var(--height-small);
        }

        .progress-bar__fill {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: #{$iota2-blue-700};
            transition: width 0.3s ease;
        }
    }
}
