@import "../../../../../../scss/fonts";
@import "../../../../../../scss/mixins";
@import "../../../../../../scss/media-queries";
@import "../../../../../../scss/variables";
@import "../../../../../../scss/themes";

.section.associated-outputs {
    .section--header {
        justify-content: space-between;

        .associated-heading {
            font-size: 20px;

            @include phone-down {
                font-size: 16px;
            }
        }

        .tabs-wrapper {
            display: flex;

            button.tab {
                background: var(--associated-outputs-tabs-bg);
                color: $gray-6;
                border: 1px solid $gray-4;
                border-radius: 0;
                border-right: 0;

                &.active {
                    background: var(--associated-outputs-tabs-active);
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &:first-child {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
                &:last-child {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    border-right: 1px solid $gray-4;
                }

                @include phone-down {
                    font-size: 12px;
                    padding: 3px 5px;
                }
            }
        }
    }

    // Mobile
    .associated--cards {
        display: none;

        @include tablet-down {
            display: block;

            .card {
                .card--content__output {
                    padding: 8px 8px 4px 4px;
                }

                .field {
                    margin: 8px 0 0 8px;
                    margin-bottom: 8px;

                    .label {
                        color: $gray-6;
                        font-family: $inter;
                        letter-spacing: 0.5px;

                        @include font-size(14px, 21px);
                    }

                    .value {
                        margin: 8px 0 0 4px;
                        @include font-size(14px, 21px);

                        color: var(--body-color);
                        font-family: $metropolis;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .associated--cards {
        .card {
            .card--content__output {
                .card-header--wrapper {
                    margin: 0px;
                }
            }
        }

        .output--label {
            display: flex;

            .dropdown--icon {
                cursor: pointer;
                svg {
                    transition: transform 0.25s ease;
                    path {
                        fill: var(--card-color);
                    }
                }
                &.opened > svg {
                    transform: rotate(90deg);
                }
            }
        }

        tr,
        .card {
            .found-in--wrapper {
                display: flex;

                @include desktop-down {
                    flex-direction: column;
                }
            }
        }

        tr {
            .found-in,
            .date-created {
                color: $gray-6;
            }

            .date-created {
                font-family: $ibm-plex-mono;
            }

            .amount {
                color: $mint-green-7;
                @include font-size(16px, 21px);
                font-weight: 700;
            }
        }

        .card {
            .found-in,
            .date-created {
                .value {
                    color: $gray-6;
                }
            }

            .date-created .value {
                font-family: $ibm-plex-mono;
            }

            .amount .value {
                color: $mint-green-7;
                @include font-size(16px, 21px);
                font-weight: 700;
            }
        }

        button.color {
            font-family: $ibm-plex-mono;
            color: var(--link-color);
        }
    }
}
