@import "../../../scss/fonts";
@import "../../../scss/mixins";
@import "../../../scss/media-queries";
@import "../../../scss/variables";
@import "../../../scss/themes";

.key-panel-container {
    display: flex;
    position: absolute;
    z-index: 1;
    right: 30px;
    bottom: 10px;
    left: 30px;
    justify-content: center;
    pointer-events: none;
    gap: 20px;

    .key-panel {
        background: var(--body-background);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 16px;

        .key-panel-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 16px;

            @include desktop-down {
                width: 110px;
                margin: 0;
            }

            .key-marker {
                width: 12px;
                height: 12px;
                margin-right: 10px;
                border-radius: 50%;
            }

            .key-label {
                @include font-size(14px);

                color: var(--body-color);
                font-family: $metropolis;
                font-weight: 500;
            }
        }
    }
}
