@import "../../../../scss/media-queries";

.balance-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
        margin-right: 16px;
    }

    .balance-wrapper__inner {
        display: flex;
        flex-direction: column;

        .balance-wrapper__base-token {
            margin-bottom: 12px;
        }

        .balance-wrapper__base-token,
        .balance-wrapper__mana {
            display: flex;
            flex-direction: row;
            .balance {
                display: flex;
                flex-direction: row;

                .icon {
                    align-self: center;

                    @include tablet-down {
                        display: none;
                    }
                }

                &:not(:last-child) {
                    margin-right: 40px;

                    @include tablet-down {
                        margin-right: 0px;
                    }
                }

                .balance-value {
                    display: flex;
                    flex-direction: column;

                    @include tablet-down {
                        flex-direction: row;
                    }

                    .balance-value--inline {
                        @include tablet-down {
                            margin-left: 5px;
                        }
                    }
                }

                .balance-base-token,
                .balance-fiat {
                    color: #b0bfd9;
                    font-size: 18px;
                }

                .balance-heading {
                    height: 20px;

                    .material-icons {
                        font-size: 18px;
                        color: #b0bfd9;
                        padding-left: 5px;
                    }
                }

                .balance__mana {
                    display: flex;
                    align-items: center;
                    margin-left: 8px;

                    .value {
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    @include tablet-down {
        .balance-wrapper--inner {
            flex-direction: column;

            .balance {
                &:not(:first-child) {
                    margin-top: 26px;
                }
            }
        }
    }
}
