@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/variables';

.confirmation {
  @include font-size(12px);
  display: flex;
  align-items: center;
  height: 24px;
  margin-left: 20px;
  padding: 0px 8px;
  border-radius: 6px;
  background-color: $gray-light;
  color: $gray-midnight;
  font-family: $metropolis;
  font-weight: bold;
  white-space: nowrap;

  &.confirmation__confirmed {
    background-color: #73b183;
    color: $white;
  }

  &.confirmation__pending {
    background-color: $gray-light;
    color: #8493ad;
  }

  &.confirmation__reattachment {
    background-color: #4140df;
    color: #978df2;
  }

  &.confirmation__consistency {
    background-color: $danger;
    color: $white;
  }
}
