@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/media-queries';
@import '../../scss/variables';
@import '../../scss/themes';

.data-toggle {
  @include font-size(14px, 21px);

  font-family: $inter;
  min-height: 56px;
  background-color: var(--light-bg);
  border-radius: 6px;
  color: var(body-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-bottom: 16px;
  white-space: pre-wrap;
  @include phone-down {
    white-space: pre;
    flex-wrap: wrap;
  }

  .data-toggle--tabs {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    margin-left: 16px;
    @include phone-down {
      margin-left: 60%;
    }
    .data-toggle--tab {
      margin: 0 2px;
      padding: 2px 12px;
      color: $gray-7;
      cursor: pointer;

      &.data-toggle--tab__active {
        font-weight: 700;
        background: $gray-7;
        border-radius: 12px;
        color: $white;
      }
    }
  }
}
