@import "../../scss/fonts";
@import "../../scss/media-queries";
@import "../../scss/mixins";
@import "../../scss/variables";

footer {
  .footer--content {
    display: flex;
    justify-content: center;
    padding: 40px 20px 64px 20px;
    background-color: $gray-11;
    color: $white;

    @include tablet-down {
      padding: 32px 24px 24px 24px;
    }

    .inner {
      flex: 1;
      max-width: $desktop-width;

      img {
        width: 152px;
        height: 48px;
        margin-bottom: 28px;
      }

      .row {
        flex-wrap: wrap;
      }

      section {
        margin-right: 28px;
        margin-bottom: 28px;
        font-weight: 500;
        letter-spacing: 0.5px;

        @include tablet-down {
          margin-right: 0;
          padding-right: 12px;

          &:last-child {
            padding-right: 0;
          }
        }

        h3 {
          @include font-size(12px, 16px);

          margin-bottom: 16px;
          color: $gray-6;
          font-family: $metropolis-bold;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          white-space: nowrap;
        }

        ul {
          list-style: none;

          li {
            @include font-size(12px, 18px);

            margin-bottom: 8px;
            font-family: $inter;
            font-weight: 500;

            a {
              color: $gray-3;
              font-family: inherit;
              letter-spacing: 0.5px;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }

            pre {
              font-family: inherit;
            }

            &:first-child {
              color: $gray-3;
            }

            .data-label {
              margin-right: 5px;
            }
          }
        }
      }

      .sep {
        margin-bottom: 24px;
        border: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.12);
      }

      .foundation-data {
        @include font-size(12px, 20px);

        color: $gray-6;
        font-family: $inter;

        @include tablet-down {
          flex-direction: column;

          div {
            align-self: center;
            margin-top: 0;

            img {
              margin-bottom: 24px;
            }
          }
        }

        section {
          ul {
            li {
              a {
                color: $main-green;
              }
            }
          }
        }
      }
    }
  }

  .social--media__wrapper {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;

    .social--media__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 11px 0;
      color: #f6f8fc;
      font-family: $inter;
      letter-spacing: 0.5px;
      text-decoration: none;

      svg {
        width: 24px;
        height: 24px;
      }

      @include font-size(16px, 18px);

      span {
        margin-left: 16px;
        font-weight: 500;
      }

      @include desktop-down {
        padding-bottom: 16px 8px;

        span {
          display: none;
        }
      }
    }
  }
}
