@import '../../scss/fonts';
@import '../../scss/media-queries';
@import '../../scss/mixins';
@import '../../scss/variables';

header {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 15px 20px;
  background-color: var(--context-primary);

  .inner {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: $desktop-width;

    @include tablet-down {
      margin-right: 40px;
    }

    a {
      margin-right: 30px;
      outline: none;

      &:focus {
        box-shadow: 0 0 3px 0 $main-green-highlight;
      }
    }

    .search-input {
      margin: 10px 30px 10px 5px;

      @include phone-down {
        margin: 10px 30px 15px 0px;
      }
    }

    .logo-image {
      width: 210px;
      height: 48px;
    }
  }

  .tools {
    &.tools--large {
      @include font-size(14px);

      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 100%;
      background: rgba(72, 87, 118, 0.1);
      color: $white;
      font-family: $metropolis;

      @media (max-width: 1360px) {
        display: none;
      }
    }

    &.tools--small {
      position: relative;
      margin-left: 20px;
      background: none;

      @media (min-width: 1361px) {
        display: none;
      }

      @include tablet-down {
        position: absolute;
        top: 24px;
        right: 24px;
      }
    }

    button {
      border: 0;
      background: none;
    }
  }

  .tools-panel-shield {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $gray-midnight;
    opacity: 0.1;
    z-index: 1;

    &.tools-panel-shield__active {
      display: block;
    }
  }

  .tools-panel {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 60px 60px 60px;
    background: var(--context-primary);
    color: $white;
    font-family: $metropolis;
    z-index: 5;

    &.tools-panel__active {
      display: flex;
    }

    .tools-panel-inner {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      max-width: 1024px;

      .tools-panel-close-container {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;

        .button-close {
          border: 0;
          background: none;
        }
      }

      .tools-panel-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        a {
          @include font-size(14px);

          display: flex;
          align-items: center;
          justify-content: flex-start;
          min-width: 250px;
          padding: 20px;
          border: 0;
          background: none;
          color: $white;
          font-family: $metropolis;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            background: rgba(72, 87, 118, 0.1);
          }
        }
      }
    }
  }
}
