@import "../../scss/fonts";
@import "../../scss/media-queries";
@import "../../scss/variables";

#hero {
    position: relative;
    padding-top: 80px;
    margin-top: -80px;
    z-index: 0;
    margin-bottom: 80px;

    @include tablet-down {
        margin-bottom: 40px;
    }

    .bg-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            opacity: 1;
            transition: opacity 300ms;
        }

        video.bg--hidden {
            opacity: 0;
        }
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .title-cont-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @include tablet-down {
            flex-direction: column;
        }
    }

    .title-cont {
        display: flex;
        flex-direction: column;
        margin-right: 137px;
        padding: 98px 0 178px;

        @include desktop-down {
            margin-right: 60px;
            padding: 60px 0;
        }

        @include tablet-down {
            margin-right: 0;
        }

        .title {
            font-size: 72px;
            font-weight: 500;
            line-height: 120%;
            color: var(--body-color);
            text-transform: capitalize;
            margin-bottom: auto;
            font-family: $inter;
        }

        .overline,
        .subtitle {
            color: var(--header-color);
            font-family: $inter;
        }
        .overline {
            margin-bottom: 24px;
            font-weight: 500;
            font-size: 24px;
        }

        .subtitle {
            margin-top: 133px;
        }
    }

    .network-stats-wrapper {
        display: grid;
        row-gap: 64px;
        column-gap: 64px;
        align-items: center;
        width: auto;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .asset-stats-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        grid-gap: 16px;
        margin-top: 120px;
        row-gap: 32px;
        padding-bottom: 48px;
    }
}
