@import "../../scss/fonts.scss";
@import "../../scss/variables.scss";
@import "../../scss/media-queries.scss";

.icon-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: var(--box-bg-color);
    padding: 24px;
    border-radius: 12px;

    @include tablet-down {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border-radius: 100%;
        background-color: var(--box-bg-secondary-color);

        @include tablet-down {
            margin-bottom: 24px;
        }
    }

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 24px;

        @include tablet-down {
            text-align: center;
            margin-left: 0;
        }

        .title {
            font-size: 36px;
            line-height: 120%;
            font-weight: 500;
            color: var(--body-color);
            font-family: $inter;
        }

        .subtitle {
            font-size: 16px;
            color: var(--header-color);
            font-weight: 400;
            font-family: $inter;
        }
    }
}
