@import '../../scss/variables';

.icon {
  &.boxed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 30px;
    background: $gray-2;
  }
}
