@import "../../scss/fonts";
@import "../../scss/mixins";
@import "../../scss/variables";

.json-viewer {
  @include font-size(12px, 20px);

  color: var(--did-color);
  font-family: $ibm-plex-mono;
  letter-spacing: 0.02em;
  white-space: pre-wrap;

  .string {
    color: green;
  }

  .number {
    color: darkorange;
  }

  .boolean {
    color: blue;
  }

  .null {
    color: magenta;
  }

  .key {
    color: var(--did-color);
  }
}
