@import '../../scss/variables';

.line-container {

  .ct-chart {
    width: 100%;
    height: 80px;

    svg {
      .ct-series {
        &.ct-series-a {
          .ct-line {
            stroke: $main-green-highlight;
            stroke-width: 2px;
          }

          .ct-area {
            // sass-lint:disable url-quotes
            fill: url(#gradient-a);
            fill-opacity: 0.3;
          }
        }
      }
    }
  }
}
