@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/variables';

.message-button {
  position: relative;

  .message-button-btn {
    min-width: 32px;
    min-height: 32px;
    padding: 6px !important;
    border: 0;
    border-radius: 6px;
    outline: none;
    background: none;
    cursor: pointer;

    svg {
      color: $gray-10;
    }

    &:hover {
      svg {
        color: $main-green-highlight;
      }
    }
  }

  .message-button--message {
    @include font-size(12px);

    position: absolute;
    min-width: 200px;
    color: $main-green;
    font-family: $metropolis;
    font-weight: bold;
    opacity: 1;
    animation: fade 2s linear;
    animation-fill-mode: forwards;

    &.message-button--message--right {
      top: 10px;
      margin-left: 10px;
    }

    &.message-button--message--top {
      top: -15px;
      left: -3px;
    }
  }

  @keyframes fade {
    0%,
    100% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
  }
}