@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/media-queries';
@import '../../scss/variables';

.message-tangle-state {
  @include font-size(12px);

  display: flex;
  align-items: center;
  height: 24px;
  margin-left: 20px;
  padding: 0 8px;
  border: 0;
  border-radius: 6px;
  outline: none;
  background-color: $gray-light;
  color: $gray-midnight;
  font-family: $metropolis;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;

  @include tablet-down {
    height: auto;
    margin-top: 20px;
    margin-left: 0;
    padding: 8px;
    white-space: normal;
  }

  &.message-tangle-state__referenced {
    background-color: #73b183;
    color: $white;
  }

  &.message-tangle-state__milestone {
    background-color: #73b183;
    color: $white;
  }

  &.message-tangle-state__pending {
    background-color: $gray-light;
    color: #8493ad;
  }

  &.confirmation__no-click {
    pointer-events: none;
  }
}
