@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/media-queries';
@import '../../scss/variables';
@import '../../scss/themes';

.messages-tangle-state {
  display: flex;
  align-items: center;

  @include tablet-down {
    display: none;
  }

  .message-tangle-reference {
    @include font-size(12px);

    color: $gray-5;
    font-family: $inter;
    font-weight: 500;
    letter-spacing: 0.5px;

    .message-tangle-reference__link {
      color: $link;
      cursor: pointer;
    }
  }

  .message-tangle-state {
    @include font-size(12px);

    display: flex;
    align-items: center;
    height: 24px;
    margin-left: 20px;
    padding: 0 8px;
    border: 0;
    border-radius: 6px;
    outline: none;
    background-color: $gray-light;
    color: $gray-midnight;
    font-family: $inter;
    font-weight: 500;
    letter-spacing: 0.5px;
    white-space: nowrap;
    cursor: pointer;

    &.message-tangle-state__referenced {
      background-color: var(--message-referenced-bg);
      color: $mint-green-7;
    }

    &.message-tangle-state__milestone {
      background-color: $mint-green-1;
      color: $mint-green-7;
    }

    &.message-tangle-state__pending {
      background-color: var(--light-bg);
      color: #8493ad;
    }

    &.confirmation__no-click {
      pointer-events: none;
    }
  }
}
