@import '../../scss/fonts.scss';
@import "../../scss/themes";

.tooltip {
    position: absolute;
    display: flex;

    .wrap {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 200px !important;
        padding: 12px;
        border-radius: 0.25rem;
        background: var(--modal-color);
        white-space: nowrap;
        color: var(--body-background);
        z-index: 1;
        opacity: 0;
        transition: all 100ms;
        font-family: $inter;
        word-break: keep-all;
        text-align: center !important;
    }

    .children {
        white-space: nowrap;
        font-weight: 200;
        color: $gray-5;
        cursor: pointer;

        .material-icons {
            font-size: 14px;
        }
    }
}
