@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/media-queries';
@import '../../scss/variables';
@import '../../scss/themes';

.modal {
  display: inline-block;

  button {
    border: none;
    background-color: transparent;

    &:focus {
      box-shadow: none;
    }
  }

  .modal--icon {
    display: flex;
    align-items: center;
    padding: 0 8px;
  }

  .modal--bg {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(19, 31, 55, 0.75);
  }

  .modal--content {
    position: fixed;
    z-index: 3000;
    top: 50%;
    left: 50%;
    width: 50%;
    min-height: 500px;
    max-height: 100%;
    padding: 32px;
    transform: translate(-50%, -50%);
    border: 1px solid #e8eefb;
    border-radius: 6px;
    background-color: var(--body-background);
    box-shadow: 0 4px 8px rgba(19, 31, 55, 0.04);

    @include tablet-down {
      width: 100%;
    }

    .modal--title {
      @include font-size(20px);

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 22px;
      border-bottom: 1px solid #e8eefb;
      color: var(--body-color);
      font-family: $metropolis;
      font-weight: 600;
      letter-spacing: 0.02em;

      button {
        color: black;
      }
    }

    .modal--description {
      margin-top: 24px;

      p {
        @include font-size(14px, 21px);

        color: var(--modal-color);
        font-family: $inter;
        font-weight: 400;

        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
  }
}
