@import "../../scss/fonts";
@import "../../scss/mixins";
@import "../../scss/media-queries";
@import "../../scss/variables";
@import "../../scss/themes";

.network--switcher {
    width: 180px;

    @include tablet-down {
        &::before {
            content: "";
            position: absolute;
            top: -3px;
            left: -20px;
            width: 100vw;
            height: 1px;
            background-color: var(--border-color);
        }
    }

    .network--switcher__header {
        justify-content: center;
        font-family: $metropolis;

        .icon {
            margin-left: 12px;

            span {
                transition: transform 0.2s ease;
                color: var(--header-icon-color);
            }
        }

        &.opened {
            .icon {
                span {
                    transform: rotate(-180deg);
                }
            }
        }

        .network--switcher__dropdown {
            text-align: center;

            @include desktop-down {
                width: 100%;
            }

            .label {
                @include font-size(16px, 18px);

                color: var(--header-label-color);
                font-weight: 600;
                letter-spacing: 0.01em;
            }

            .eyebrow {
                @include font-size(10px, 15px);

                color: $mint-green-6;
                font-weight: 600;
                letter-spacing: 0.15em;
                text-transform: uppercase;
            }
        }
    }
}

.network--expanded {
    position: fixed;
    z-index: 2;
    top: $navbar-height-desktop;
    right: 0;
    width: 520px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-radius: 12px;
    background: var(--body-background);
    box-shadow: var(--box-shadow-down);

    @include desktop-down {
        width: 468px;
        top: $navbar-height-mobile * 2;
    }

    @include phone-down {
        width: 100vw;
        border-radius: unset;
    }

    &.opened {
        max-height: 80vh;
        overflow-y: scroll;

        @include desktop-down {
            top: $navbar-height-mobile * 2;
        }
    }

    .networks {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 32px 12px;

        @media (max-width: 1200px) {
            display: block;

            div.network {
                width: 100%;
            }
        }

        /* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
        .network {
            display: flex;
            flex-direction: row;
            padding: 0 10px;

            .network--cards {
                display: flex;
                flex-direction: column;
                width: 100vw;

                .network--card {
                    min-height: 86px;
                    margin-bottom: 16px;
                    padding: 8px;
                    border-radius: 12px;
                    cursor: pointer;

                    .network--icon {
                        min-width: 64px;
                        height: 64px;
                        border-radius: 8px;
                        background: $gray-2;
                        background: var(--header-svg-bg);

                        svg path {
                            fill: var(--header-icon-color);
                        }
                    }

                    &.selected {
                        background: rgb(20 202 191 / 8%);

                        .network--icon {
                            background: $mint-green-6;

                            svg path {
                                fill: $white;
                            }
                        }
                    }

                    &:hover:not(.selected) {
                        background: var(--light-bg);
                    }

                    .network--content {
                        margin-left: 24px;

                        .label {
                            @include font-size(16px, 24px);

                            color: var(--body-color);
                            font-family: $metropolis;
                            font-weight: 600;
                            letter-spacing: 0.01em;
                        }

                        .protocol {
                            @include font-size(12px, 18px);

                            color: var(--expanded-color);
                            font-family: $inter;
                            font-weight: 500;
                            letter-spacing: 0.5px;
                        }
                    }
                }
            }
        }

        /* stylelint-enable max-nesting-depth, selector-max-compound-selectors */
    }
}
