@import "../../scss/fonts";
@import "../../scss/mixins";
@import "../../scss/media-queries";
@import "../../scss/variables";
@import "../../scss/themes";

.search-input {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: row;
  align-items: center;
  max-width: 400px;
  height: 40px;

  svg {
    position: absolute;
    left: 16px;
  }

  .search--text-input {
    @include font-size(14px);

    flex: 1;
    height: 40px;
    padding: 12px 12px 12px 52px;
    transition: border-color 0.2s ease;
    border: 1px solid var(--input-border-color);
    border-radius: 6px;
    background-color: transparent;
    box-shadow: none;
    color: var(--body-color);
    font-family: $inter;

    &::placeholder {
      color: var(--input-border-color);
    }

    &:focus {
      border-color: var(--input-focus-border-color);
    }

    @include phone-down {
      @include font-size(12px);

      height: 32px;
    }
  }
}

.search-input--compact {
  display: none;
  margin-left: 8px;

  @include desktop-down {
    display: block;
  }

  button {
    border: 0;
    background: none;

    &:focus {
      box-shadow: none;
    }

    svg path {
      fill: var(--header-icon-color);
    }
  }

  .text-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-height-mobile;
    background: var(--body-background);
    color: var(--body-color);

    .search--text-input {
      width: 100%;
      height: 100%;
      padding-right: 48px;
      padding-left: 24px;
      border: 0;
      background: transparent;
      font-family: $inter;

      &:focus {
        box-shadow: none;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);

      path {
        fill: var(--header-icon-color);
      }
    }
  }

  .bg-placeholder {
    position: absolute;
    top: $navbar-height-mobile;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: var(--search-bg-opacity);
    background: hsla(0, 0%, 90.6%, 0.8);
  }
}
