@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/media-queries';
@import '../../scss/variables';
@import '../../scss/themes';

.search-input {
  display: flex;
  flex: 1;
  height: 40px;
  flex-direction: row;
  max-width: 400px;
  .search--text-input {
    @include font-size(14px);

    flex: 1;
    height: 40px;
    border: 1px solid var(--input-border-color);
    border-radius: 0 6px 6px 0;
    color: $gray-10;
    font-family: $inter;
    background-color: transparent;
    border-left: 0;
    box-shadow: none;
    color: var(--body-color);

    &::placeholder {
      color: var(--input-border-color);
    }
    @include phone-down {
      @include font-size(12px);

      height: 32px;
      padding: 0 12px;
    }
  }

  .search--button {
    @include font-size(14px);

    border: 1px solid var(--input-border-color);
    border-right: 0;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
    cursor: pointer;
    padding: 6px 16px;

    @include phone-down {
      @include font-size(12px);

      width: 64px;
    }

    &:focus {
      box-shadow: 0 0 3px 0 $white;
    }

    &:disabled {
      opacity: 0.8;

      @include phone-down {
        opacity: 1;
      }
    }
  }
}
