@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/media-queries';
@import '../../scss/variables';

.side-panel {
  display: flex;
  flex-direction: row;
  width: 241px;

  @include desktop-down {
    flex: 1;
    @include desktop-down {
      width: 100%;
    }
    margin-top: 20px;
  }


  &.card {
    padding-bottom: 30px;

    .card--sections {
      display: flex;
      flex-direction: column;

      .card--section {
        &.card--section__highlight {
          background: $panel-green;
        }
      }

      @include desktop-down {
        flex-direction: row;
        flex-wrap: wrap;

        .card--section {
          flex: 1;
          width: 100%;
          border-right: 1px solid $gray-noon;
        }
      }
    }

    .card--label {
      padding-left: 23px;
      color: $gray-10;

      &.card--label__highlight {
        color: $gray;
      }
    }

    .card--sep {
      margin: 0px 23px;
      padding: 10px 10px;
      border-bottom: 1px solid $gray-noon;

      @include desktop-down {
        border-color: transparent;
      }
    }

    .card--value {
      @include font-size(16px);

      margin-bottom: 0px;
      padding-left: 23px;

      &.card--value__large {
        color: $gray-10;
      }
    }

    .line-container {
      border-bottom: 1px solid $gray-noon;
    }

    .feed {
      .card--label {
        margin-top: 23px;

        @include desktop-down {
          margin-top: 10px;
        }
      }

      .feed-item {
        padding-top: 10px;
        padding-right: 23px;
        padding-left: 23px;

        .feed-item--value {
          @include font-size(12px);

          min-width: 60px;
          color: $main-green;
          font-family: $inter;

          button {
            border: 0;
            background: transparent;
            color: inherit;
            text-align: left;
            cursor: pointer;
          }
        }

        .feed-item--hash {
          @include font-size(12px);

          width: 135px;

          @include desktop-down {
            width: 100%;
          }


          color: $gray-10;
          font-family: $inter;
          text-decoration: none;
          text-overflow: ellipsis;
          overflow: hidden;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
