@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/media-queries';
@import '../../scss/variables';

.side-panel {
  display: flex;
  flex-direction: row;
  width: 241px;
  min-height: 400px;

  &.card {
    .card--header {
      margin-bottom: 0px;
      padding-bottom: 27px;
    }

    .card--label {
      padding-left: 23px;
      color: $gray-10;

      &.card-label--highlight {
        background: $panel-green;
      }

      &.card-label--large {
        @include font-size(16px);
      }
    }

    .line-container {
      padding: 5px 0px;
    }
  }
}
