@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/variables';

.spinner {
  position: relative;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #c3d0e4;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.spinner + * {
  margin-left: 20px;
}
