@import "../../scss/fonts";

.stat {
    .stat-title {
        font-family: $inter;
        color: var(--body-color);
        margin-bottom: 12px;
        font-weight: 500;
        white-space: nowrap;

        &.large {
            font-size: 36px;
            line-height: 120%;
        }
        &.small {
            font-size: 20px;
            line-height: 28px;
        }
    }

    .stat-subtitle {
        font-size: 16px;
        color: var(--header-color);
        font-family: $inter;
    }
}
