@import '../../scss/fonts';
@import '../../scss/media-queries';
@import '../../scss/mixins';
@import '../../scss/variables';

.switcher {
  display: flex;
  height: 42px;
  padding: 5px;
  border-radius: 6px;
  background: rgba(19, 31, 55, 0.5);
  backdrop-filter: blur(2px);

  @include phone-down {
    background-color: var(--context-primary);
  }

  button {
    @include font-size(12px);

    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 21px;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
    color: $white;
    font-family: $metropolis;
    cursor: pointer;

    &.selected {
      background-color: $main-green-highlight;
      font-weight: 600;
    }

    &:focus {
      box-shadow: 0 0 3px 0 $main-green-highlight;
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $white;
    }
  }
}
.switcher--expanded__content {
  position: absolute;
  top: 83px;
  background: $white;
  left: 0;
  width: 100%;
  min-height: $navbar-expanded-height;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .group {
    display: flex;
    flex-direction: column;
  }
}
.switcher-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 84px;
  left: 0;
  z-index: -1;
}
