@import "../../scss/fonts";
@import "../../scss/mixins";
@import "../../scss/media-queries";
@import "../../scss/variables";

.switch-wrapper {
  display: flex;
  align-items: center;

  & > span {
    @include font-size(12px, 18px);

    margin-right: 16px;
    color: $gray-6;
    font-family: $inter;
    font-weight: 500;

    @include phone-down {
      margin-right: 8px;
    }
  }

  .switch {
    position: relative;
    width: 32px;
    height: 20px;

    .slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.4s;
      border-radius: 16px;
      background-color: $gray-4;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 10%;
        width: 50%;
        height: 80%;
        transform: translateX(4px);
        transition: 0.4s;
        border-radius: 50%;
        background-color: white;
      }
    }

    input {
      width: 0;
      height: 0;
      opacity: 0;

      &:checked {
        & + .slider {
          background-color: $green-6;

          &::before {
            transform: translateX(calc(100% - 4px));
          }
        }
      }
    }
  }
}
