@import "../../../scss/fonts";
@import "../../../scss/mixins";
@import "../../../scss/media-queries";
@import "../../../scss/variables";
@import "../../../scss/themes";

.visualizer-stardust {
    position: relative;
    margin: 16px 40px;

    .heading {
        min-width: 230px;
    }

    @include phone-down {
        margin: 20px;
    }

    .search-filter {
        flex: 1;
        margin-bottom: 16px;

        @include tablet-down {
            display: none;
        }

        .card--content {
            padding: 8px 16px;
        }

        button {
            white-space: nowrap;
        }
    }

    .graph-border {
        display: flex;
        position: relative;
        flex: 1;
        align-items: stretch;
        justify-content: stretch;
        height: 80vh;
        overflow: hidden;
        border: 1px solid var(--input-border-color);
        border-radius: 6px;

        .viva {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--stardust-visualizer-bg);
        }

        .selected-node {
            @include font-size(12px);

            position: absolute;
            z-index: 1;
            margin: 5px;
            background-color: $white;
            color: var(--link-highlight);
            font-family: $metropolis;
            word-break: break-all;
        }

        .action-panel-container {
            display: flex;
            position: absolute;
            z-index: 2;
            top: 20px;
            right: 20px;

            outline: none;

            &:hover {
                background-color: transparent;
            }

            &:focus {
                box-shadow: none;
                outline: none;
            }

            .pause-button {
                padding: 6px;
                color: var(--header-icon-color);

                &:hover {
                    color: var(--link-highlight);
                }
            }
        }
    }

    .stats-panel-container {
        display: flex;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 30px;
        bottom: 0;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        .stats-panel {
            background: var(--body-background);

            .card--value,
            .card--label {
                text-align: right;
            }
            .card--label {
                justify-content: flex-end;
            }
            .card--content {
                padding: 20px 30px;
            }
        }

        @include tablet-down {
            top: 60px;
            left: 20px;
            bottom: auto;
            justify-content: left;

            .stats-panel {
                .card--value,
                .card--label {
                    text-align: left;
                }
                .card--label {
                    justify-content: flex-start;
                }
                .card--content {
                    padding: 0;
                }
                .stats-panel__info {
                    padding: 0 10px;
                    display: inline-block;
                }
            }
        }

        @include phone-down {
            left: 10px;
            .stats-panel {
                .card--value,
                .card--label {
                    font-size: 12px;
                }
                .stats-panel__info:last-of-type {
                    display: block;
                }
            }
        }
    }

    .info-panel {
        background: var(--body-background);
        position: relative;
        display: flex;
        position: absolute;
        z-index: 2;
        top: 100px;
        left: 20px;
        width: 320px;
        overflow: visible;

        @include tablet-down {
            top: 140px;
            width: 46%;
        }

        @include phone-down {
            top: 200px;
            left: 10px;
            width: 60%;
        }

        button {
            position: absolute;
            top: 8px;
            right: 8px;
        }

        .card--content {
            padding: 20px 30px;

            .card--value,
            .card--label {
                align-items: center;

                @include phone-down {
                    .block-tangle-state__confirmed {
                        text-indent: -9999px;
                        padding: 0 5px;

                        &::before {
                            content: "\2713";
                            text-indent: 0px;
                            color: var(--mint-green-bg);
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    .blocks-tangle-state .block-tangle-state {
                        margin-right: 0;
                        padding: 0 5px;
                        .tooltip .children {
                            &::before {
                                content: "\2717";
                                padding-top: 4px;
                                color: $error;
                                font-size: 16px;
                                font-weight: bold;
                            }
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .tooltip {
            .wrap {
                width: 180px;
            }
        }

        .info-panel__dropdown {
            .card--content__input--dropdown {
                display: none;

                @include phone-down {
                    display: block;
                }
            }
        }

        .info-panel__reattachments {
            @include phone-down {
                display: none;

                &.info-panel__reattachments--opened {
                    display: block;
                }
            }
        }
    }

    .key-panel-container {
        display: flex;
        position: absolute;
        z-index: 1;
        right: 30px;
        bottom: 10px;
        left: 30px;
        justify-content: center;
        pointer-events: none;

        .key-panel {
            background: var(--body-background);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 16px;

            .key-panel-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0 16px;

                @include desktop-down {
                    width: 110px;
                    margin: 0;
                }

                .key-marker {
                    width: 12px;
                    height: 12px;
                    margin-right: 10px;
                    border-radius: 3px;

                    &.vertex-state--pending {
                        background-color: #bbbbbb;
                    }

                    &.vertex-state--included {
                        background-color: #4caaff;
                    }

                    &.vertex-state--referenced {
                        background-color: #61e884;
                    }

                    &.vertex-state--conflicting {
                        background-color: #ff8b5c;
                    }

                    &.vertex-state--milestone {
                        background-color: #666af6;
                    }

                    &.vertex-state--search-result {
                        background-color: #c061e8;
                    }
                }

                .key-label {
                    @include font-size(14px);

                    color: var(--body-color);
                    font-family: $metropolis;
                    font-weight: 500;
                }
            }
        }
    }
}
