@import "../../../../../../scss/fonts";
@import "../../../../../../scss/mixins";
@import "../../../../../../scss/media-queries";

.section--account-validator {
    .card-info-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        @include tablet-down {
            grid-template-columns: repeat(2, 1fr);
        }

        @include phone-down {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .delegation-outputs {
        font-family: $metropolis;
        margin-top: 24px;

        .table-container table thead th {
            padding-bottom: 16px;
        }

        table {
            @include tablet-down {
                display: block;
                overflow-x: auto;
                white-space: nowrap;
                width: 100%;
            }
        }

        .truncated-id-cell {
            max-width: 600px;

            @include desktop-down {
                max-width: 165px;
            }
        }
    }
}
