@import "../../../../scss/fonts";
@import "../../../../scss/mixins";
@import "../../../../scss/media-queries";
@import "../../../../scss/variables";
@import "../../../../scss/themes";

.download-modal {
  display: inline-block;

  button {
    border: none;
    background-color: transparent;

    &:focus {
      box-shadow: none;
    }
  }

  .modal--icon {

    span {
      color: #b0bfd9;
      font-size: 20px;
    }
  }

  .modal--bg {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(19, 31, 55, 0.75);
  }

  .modal--content {
    position: fixed;
    z-index: 3000;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 660px;
    max-height: 100%;
    padding: 32px;
    transform: translate(-50%, -50%);
    border: 1px solid #e8eefb;
    border-radius: 6px;
    background-color: var(--body-background);
    box-shadow: 0 4px 8px rgba(19, 31, 55, 0.04);

    @include tablet-down {
      width: 100%;
      overflow-y: auto;
    }

    .modal--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 22px;
        border-bottom: 1px solid #e8eefb;
        letter-spacing: 0.02em;

        .modal--title {
            @include font-size(20px);

            color: var(--body-color);
            font-family: $metropolis;
            font-weight: 600;
        }

        button {
            color: var(--body-color);
        }
    }


    .modal--body {
      margin-top: 24px;

      .input-container {
          width: 100%;

          .date-label {
            color: var(--body-color);
            font-family: $inter;
            font-weight: 500;
            margin-bottom: 8px;
            margin-right: 8px;
          }
      }

      .confirm-button {
          cursor: pointer;
          margin: 24px 0 8px 0;
          align-self: center;
          width: fit-content;
          padding: 8px 12px;
          border: 1px solid #ccc;
          color: $mint-green-7;

          &.disabled {
              color: $mint-green-1;
          }

          .spinner-container {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 57px;
              height: 16px;
          }
      }
    }
  }
}
