@import "../../../../scss/fonts";
@import "../../../../scss/mixins";
@import "../../../../scss/media-queries";
@import "../../../../scss/variables";

.tree-item-container {
  position: relative;
  height: 64px;
  overflow: hidden;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;

  &:hover {
    background: linear-gradient(0deg, #ffffff 10%, $gray-daylight 10% 90%, #ffffff 10%);
  }

  .push-right {
    left: 60px !important;
  }

  .upper-left-straight-line {
    position: absolute;
    left: 25px;
    width: 2px;
    height: 33px;
    background-color: #eeeeee;
  }

  .msg-icon-left {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .msg-icon-right {
    position: absolute;
    top: 20px;
    left: 41px;
  }

  .lower-left-straight-line {
    position: absolute;
    top: 31px;
    left: 25px;
    width: 2px;
    height: 33px;
    background-color: #eeeeee;
  }

  .upper-right-straight-line {
    position: absolute;
    left: 45px;
    width: 2px;
    height: 33px;
    background-color: #eeeeee;
  }

  .lower-right-straight-line {
    position: absolute;
    top: 31px;
    left: 45px;
    width: 2px;
    height: 33px;
    background-color: #eeeeee;
  }

  .lower-curved-line {
    position: absolute;
    top: 30px;
    left: 25px;
  }

  .upper-curved-line {
    position: absolute;
    top: -34px;
    left: 25px;
  }

  .content {
    position: absolute;
    top: 10px;
    left: 40px;

    div {
      margin-top: 10px;
    }

    .title {
      font-family: $metropolis;
    }

    .time-stamp {
      margin-top: 5px;
      color: $gray-header !important;
      font-family: $metropolis;
      font-size: 0.8em;
    }

    .diff-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-top: 4px;
      margin-left: 10px;
      border-radius: 4px;
      opacity: 40%;
      background-color: transparent;

      &:hover {
        opacity: 100%;
        background-color: $white;
      }
    }
  }
}

.loading-diff-icon {
  position: absolute;
  top: 30px;
  left: 41px;
  width: 10px;
  height: 10px;
  animation: mymove 1s;
  animation-iteration-count: infinite;
  border: solid $gray-header 1px;
  border-radius: 5px;
  background-color: $gray-light;
}

.opacity-100 {
  opacity: 1 !important;
}

.no-diff-icon {
  position: absolute;
  top: 30px;
  left: 41px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $gray-header;
}

@keyframes mymove {
  from {
    border: solid $gray-header 4px;
  }

  to {
    border: solid $gray-header 0;
  }
}

.loading-diff-title {
  position: absolute;
  top: 29px;
  left: 60px;
  color: $gray-header;
  font-family: $metropolis;
  font-size: 0.8em;
}

.no-diff-title {
  position: absolute;
  top: 29px;
  left: 60px;
  color: $gray-header !important;
  font-family: $metropolis;
  font-size: 0.8em;
}

.fadeIn {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tree-item-selected {
  background: linear-gradient(0deg, #ffffff 10%, $gray-daylight 10% 90%, #ffffff 10%);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
