@import "../../../../scss/media-queries";

.balance-wrapper {
  margin-top: 40px;

  .icon {
    margin-right: 16px;
  }

  .balance-wrapper--inner {
    display: flex;

    .balance {
      display: flex;
      flex-direction: row;

      .icon {
        align-self: center;

        @include tablet-down {
          display: none;
        }
      }

      &:not(:last-child) {
        margin-right: 40px;

        @include tablet-down {
          margin-right: 0px;
        }
      }

      .balance-value {
        display: flex;
        flex-direction: column;

        @include tablet-down {
          flex-direction: row;
        }

        .balance-value--inline {
          @include tablet-down {
            margin-left: 5px;
          }
        }
      }

      .balance-smr,
      .balance-fiat {
        color: #b0bfd9;
        font-size: 18px;
      }

      .balance-heading {
        height: 20px;

        .material-icons {
          font-size: 18px;
          color: #b0bfd9;
          padding-left: 5px;
        }
      }
    }
  }

  @include tablet-down {
    .balance-wrapper--inner {
      flex-direction: column;

      .balance {
        &:not(:first-child) {
          margin-top: 26px;
        }
      }
    }
  }
}
