@import "../../../../../scss/mixins";
@import "../../../../../scss/variables";
@import "../../../../../scss/fonts";
@import "../../../../../scss/themes";

.chart-wrapper {
    position: relative;
    width: fit-content;
    padding: 14px;
    margin-bottom: 14px;
    border-radius: 8px;

    svg.hook {
        rect {
            &.hover-highlight {
                stroke: $gray-5;
                stroke-width: 1px;
            }
        }

        .axis {
            color: var(--statistics-charts-axis);

            .tick text {
                @include font-size(10px);
                color: $gray-6;
                fill: $gray-6;
            }
        }

        .axis--x {
            path {
                stroke: $gray-6;
            }
        }

        .axis--y path {
            stroke: none;
        }

        .axis--y g.tick line {
            stroke-width: 1.8px;
        }
    }

    .no-data--wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        .no-data {
            color: var(--card-color);
        }
    }
}
