@import "../../../../../scss/mixins";
@import "../../../../../scss/variables";

.line-chart--wrapper {
    position: relative;
    width: fit-content;
    padding: 14px;
    margin-bottom: 14px;
    background-color:  var(--light-bg);
    border-radius: 8px;

    svg.hook {
        .axis, {
            color: $gray-3;

            .tick text {
                @include font-size(10px);
                color: $gray-7;
            }
        }

        .axis--y path, .axis--x path {
            stroke: none;
        }

        .axis--y g.tick line {
            stroke-width: 1.8px;
        }
    }
}

