name: Format & Lint

on:
  pull_request:
      types: [opened, reopened, synchronize]

jobs:
  lint-check:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Install Dependencies
        run: npm install
      - name: Format Check
        run: npm run format-check
      - name: Lint Check
        run: npm run lint-check
