.row {
  display: flex;
  flex-direction: row;

  &.center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.col {
  display: flex;
  flex-direction: column;

  &.fill {
    flex: 1;
  }
}

.line-breaks {
  white-space: pre;
}

.margin-b-s {
  margin-bottom: 20px;
}

