@import './media-queries';

.row {
  display: flex;
  flex-direction: row;

  &.center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.top {
    align-items: flex-start;
  }

  &.middle {
    align-items: center;
  }

  &.bottom {
    align-items: flex-end;
  }

  @include tablet-down {
    &.row--tablet-responsive {
      flex-direction: column;

      &.middle {
        align-items: flex-start;
      }
    }
  }
}

.col {
  display: flex;
  flex-direction: column;

  &.fill {
    flex: 1;
  }
}

.line-breaks {
  white-space: pre;
}

.margin-b-2 {
  margin-bottom: 2px !important;
}

.margin-r-2 {
  margin-right: 2px !important;
}

.margin-t-2 {
  margin-top: 2px !important;
}

.margin-l-2 {
  margin-left: 2px !important;
}

.margin-b-s {
  margin-bottom: 20px;
}

.margin-r-s {
  margin-right: 20px;
}

.margin-t-s {
  margin-top: 20px;
}

.margin-l-s {
  margin-left: 20px;
}

.margin-b-t {
  margin-bottom: 10px;
}

.margin-r-t {
  margin-right: 10px;
}

.margin-t-t {
  margin-top: 10px;
}

.margin-l-t {
  margin-left: 10px;
}

.margin-b-m {
  margin-bottom: 30px;
}

.margin-r-m {
  margin-right: 30px;
}

.margin-t-m {
  margin-top: 30px;
}

.margin-l-m {
  margin-left: 30px;
}

.padding-b-s {
  padding-bottom: 20px;
}

.padding-r-s {
  padding-right: 20px;
}

.padding-t-s {
  padding-top: 20px;
}

.padding-l-s {
  padding-left: 20px;
}

.padding-b-m {
  padding-bottom: 30px;
}

.padding-r-m {
  padding-right: 30px;
}

.padding-t-m {
  padding-top: 30px;
}

.padding-l-m {
  padding-left: 30px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-ellipsis {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  word-break: normal !important;
}
