@import "./variables";

:root {
    --body-background: #{$white};
    --card-body: #f8f9fa;
    --body-color: #{$gray-9};
    --active-item-color: #{$gray-midnight};
    --navbar-bg: rgb(255 255 255 / 70%);
    --navbar-color: #{$gray-6};
    --header-bg: linear-gradient(360deg, #e1e9f9 0.06%, #f3f7ff 99.2%);
    --bubble-1: url("~assets/bubble-1.svg");
    --bubble-2: url("~assets/bubble-2.svg");
    --header-color: #{$gray-6};
    --type-color: #{$gray-7};
    --header-box-bg: rgb(255 255 255 / 60%);
    --header-label-color: #{$gray-midnight};
    --header-icon-color: #{$gray-7};
    --header-svg-bg: #{$gray-2};
    --border-color: #{$gray-3};
    --fiat-acronym-color: #{$gray-11};
    --expanded-color: #{$gray-7};
    --light-bg: #{$gray-1};
    --link-color: #{$blue-5};
    --link-highlight: #{$blue-5};
    --amount-color: #3ca2ff;
    --tabbed-section-tab-active: #3ca2ff;
    --input-border-color: #d9e1ef;
    --input-focus-border-color: #{$gray-7};
    --modal-color: #{$gray-7};
    --message-confirmed-bg: #{$mint-green-1};
    --message-conflicting-bg: rgb(202 73 61 / 24%);
    --qr-color: #{$gray-9};
    --box-shadow-down: 0 4px 30px rgb(132 147 173 / 10%);
    --header-identity: #{$gray-daylight};
    --did-color: #{$gray-7};
    --search-bg-opacity: 0.6;
    --card-color: #{$gray-6};
    --message-tree-bg: #{$gray-2};
    --visualizer-bg: #{$white};
    --pagination-color: #{$gray-6};
    --pagination-bg-hover-color: #b1d9fd;
    --pagination-bg-selected-color: #3ca2ff;
    --pagination-selected-color: #{$white};
    --pagination-arrow-color: #{$gray-8};
    --pagination-disabled-color: #{$gray-5};
    --search-svg: #{$gray-6};
    --identity-added: #e6ffed;
    --identity-removed: #ffeef0;
    --mint-green-bg: #{$mint-green-6};
    --shimmer-bg: url("~assets/header-bg-light.svg");
    --stardust-visualizer-bg: #{$white};
    --transaction-history-dark-row: #{$gray-1};
    --associated-outputs-tabs-bg: #{$white};
    --associated-outputs-tabs-active: #8ac7ff;
    --date-input-theme: light;
    --statistics-charts-tooltip-bg: #{$gray-2};
    --statistics-charts-axis: #{$gray-1};
    --statistics-select-bg: #{$gray-1};
    --statistics-select-border: #{$gray-1};
    --calendar-bg: #{$white};
    --calendar-hover: #{$gray-1};
    --box-bg-color: #{$iota2-gray-100};
    --box-bg-secondary-color: #{$iota2-blue-700}14;
    --icon-fill-color: #{$iota2-blue-700};
    --transparent-button-bg-hover: #{$iota2-blue-700}14;
    --transparent-button-bg-active: #{$iota2-blue-700}29;
    --icon-button-border: rgb(0 0 0 / 16%);
    --scrollbar-thumb: var(--header-color, #{$gray-6});
    --footer-bg-color: #{$gray-11};
    --footer-logo-fill: rgb(246 248 252);
    --footer-text-color: #{$gray-3};
    --footer-heading-color: #{$gray-6};

    body.darkmode {
        --body-background: #091326;
        --card-body: #141e31;
        --body-color: #fcfcfc;
        --active-item-color: #{$gray-daylight};
        --navbar-bg: rgb(6 16 35 / 70%);
        --navbar-color: #{$gray-5};
        --header-bg: linear-gradient(180deg, #{$gray-7} 0%, #{$gray-9} 100%);
        --bubble-1: url("~assets/bubble-1-darkmode.svg");
        --bubble-2: url("~assets/bubble-2-darkmode.svg");
        --header-color: #{$gray-5};
        --type-color: #{$gray-3};
        --header-box-bg: rgb(6 16 35 / 70%);
        --header-label-color: #{$gray-3};
        --header-icon-color: #{$gray-5};
        --header-svg-bg: #202e4a;
        --border-color: #{$gray-5}42;
        --fiat-acronym-color: #{$white};
        --expanded-color: #{$gray-5};
        --light-bg: #48577614;
        --input-border-color: #{$gray-5}42;
        --input-focus-border-color: #{$gray-3};
        --modal-color: #{$gray-3};
        --message-confirmed-bg: rgb(0 224 202 / 20%);
        --qr-color: #{$white};
        --box-shadow-down: 0 4px 30px rgb(137 141 145 / 10%);
        --header-identity: #{$gray-midnight};
        --did-color: #{$gray-4};
        --search-bg-opacity: 0.2;
        --card-color: #{$gray-4};
        --message-tree-bg: #ffffff1f;
        --visualizer-bg: #{$gray-midnight};
        --pagination-color: #{$gray-5};
        --pagination-selected-color: #{$gray-9};
        --pagination-arrrow-color: #{$gray-1};
        --pagination-disabled-color: #{$gray-3};
        --search-svg: #{$gray-5};
        --identity-added: rgb(20 202 191 / 8%);
        --identity-removed: rgb(118 45 52 / 49%);
        --mint-green-bg: #{$mint-green-7};
        --feeds-bg: #00121f;
        --shimmer-bg: url("~assets/header-bg-dark.svg");
        --stardust-visualizer-bg: #0f202c;
        --transaction-history-dark-row: #{$gray-9};
        --associated-outputs-tabs-bg: #00121f;
        --date-input-theme: dark;
        --statistics-charts-tooltip-bg: #{$gray-9};
        --statistics-charts-axis: #{$gray-9};
        --statistics-select-bg: #{$gray-9};
        --statistics-select-border: #{$gray-8};
        --calendar-bg: #{$gray-9};
        --calendar-hover: #{$gray-7};
        --box-bg-color: #000000;
        --box-bg-secondary-color: #ffffff14;
        --icon-fill-color: #{$white};
        --transparent-button-bg-hover: #{$white}14;
        --transparent-button-bg-active: #{$white}29;
        --icon-button-border: rgb(255 255 255 / 16%);
        --scrollbar-thumb: var(--header-color, #{$gray-5});
    }

    body.shimmer {
        --link-color: #{$mint-green-7};
        --link-highlight: #{$main-green-highlight};
        --associated-outputs-tabs-active: #{$mint-green-1};
        --tabbed-section-tab-active: #{$mint-green-7};
        --pagination-bg-hover-color: #{$mint-green-1};
        --pagination-bg-selected-color: #{$mint-green-6};
        --header-bg: #f2f6f9;
        --navbar-bg: rgb(255 255 255 / 20%);
        --amount-color: #{$mint-green-7};
    }

    body.shimmer.darkmode {
        --body-background: #00121f;
        --header-bg: #00121f;
        --navbar-bg: #00121f;
    }

    body.iota2 {
        --link-color: #{$iota2-blue-700};
        --link-highlight: #{$iota2-blue-700};
        --associated-outputs-tabs-active: #{iota2-gray-300};
        --tabbed-section-tab-active: #{$iota2-blue-700};
        --pagination-bg-hover-color: #{iota2-gray-300};
        --pagination-bg-selected-color: #{$iota2-blue-600};
        --header-bg: #f2f6f9;
        --navbar-bg: rgb(255 255 255 / 20%);
        --amount-color: #{$iota2-blue-700};
        --body-color: #1d1d1d;
        --header-color: #{$iota2-gray-600};
        --footer-bg-color: #{white};
        --footer-logo-fill: var(--body-color);
        --footer-text-color: var(--body-color);
        --footer-heading-color: #{$iota2-gray-400};
    }

    body.iota2.darkmode {
        --body-background: #0d1117;
        --header-bg: #000000;
        --navbar-bg: #000000;
        --link-color: #{$iota2-blue-600};
        --link-highlight: #{$iota2-blue-600};
        --tabbed-section-tab-active: #{$iota2-blue-600};
        --amount-color: #{$iota2-blue-600};
        --body-color: #{$white};
        --header-color: rgb(255 255 255 / 80%);
        --scrollbar-thumb: #{$iota2-gray-400};
        --footer-bg-color: #{black};
        --footer-heading-color: rgb(255 255 255 / 48%);
    }
}
