@import "./variables";

:root {
  --body-background: #{$white};
  --body-color: #{$gray-9};
  --active-item-color: #{$gray-midnight};
  --navbar-bg: rgba(255, 255, 255, 0.2);
  --navbar-color: #{$gray-6};
  --header-bg: linear-gradient(360deg, #e1e9f9 0.06%, #f3f7ff 99.2%);
  --bubble-1: url("../assets/bubble-1.svg");
  --bubble-2: url("../assets/bubble-2.svg");
  --header-color: #{$gray-6};
  --type-color: #{$gray-7};
  --header-box-bg: rgba(255, 255, 255, 0.6);
  --header-label-color: #{$gray-midnight};
  --header-icon-color: #{$gray-7};
  --header-svg-bg: #{$gray-2};
  --border-color: #{$gray-3};
  --expanded-color: #{$gray-7};
  --light-bg: #{$gray-1};
  --input-border-color: #d9e1ef;
  --input-focus-border-color: #{$gray-7};
  --modal-color: #{$gray-7};
  --message-confirmed-bg: #{$mint-green-1};
  --message-conflicting-bg: rgba(202, 73, 61, 0.24);
  --qr-color: #{$gray-9};
  --box-shadow-down: 0 4px 30px rgba(132, 147, 173, 0.1);
  --header-identity: #{$gray-daylight};
  --did-color: #{$gray-7};
  --search-bg-opacity: 0.6;
  --card-color: #{$gray-6};
  --message-tree-bg: #{$gray-2};
  --visualizer-bg: #{$white};
  --pagination-color: #{$gray-6};
  --pagination-selected-color: #{$white};
  --pagination-arrrow-color: #{$gray-8};
  --pagination-disabled-color: #{$gray-5};
  --search-svg: #{$gray-6};
  --identity-added: #e6ffed;
  --identity-removed: #ffeef0;

  body.darkmode {
    --body-background: #091326;
    --body-color: #fcfcfc;
    --active-item-color: #{$gray-daylight};
    --navbar-bg: rgba(6, 16, 35, 0.2);
    --navbar-color: #{$gray-5};
    --header-bg: linear-gradient(180deg, #{$gray-7} 0%, #{$gray-9} 100%);
    --bubble-1: url("../assets/bubble-1-darkmode.svg");
    --bubble-2: url("../assets/bubble-2-darkmode.svg");
    --header-color: #{$gray-5};
    --type-color: #{$gray-3};
    --header-box-bg: rgba(6, 16, 35, 0.6);
    --header-label-color: #{$gray-3};
    --header-icon-color: #{$gray-5};
    --header-svg-bg: #202e4a;
    --border-color: #ffffff1e;
    --expanded-color: #{$gray-5};
    --light-bg: #48577614;
    --input-border-color: #{$gray-5};
    --input-focus-border-color: #{$gray-3};
    --modal-color: #{$gray-3};
    --message-confirmed-bg: rgba(0, 224, 202, 0.2);
    --qr-color: #{$white};
    --box-shadow-down: 0 4px 30px rgba(137, 141, 145, 0.1);
    --header-identity: #{$gray-midnight};
    --did-color: #{$gray-4};
    --search-bg-opacity: 0.2;
    --card-color: #{$gray-4};
    --message-tree-bg: #ffffff1f;
    --visualizer-bg: #{$gray-midnight};
    --pagination-color: #{$gray-5};
    --pagination-selected-color: #{$gray-9};
    --pagination-arrrow-color: #{$gray-1};
    --pagination-disabled-color: #{$gray-3};
    --search-svg: #{$gray-5};
    --identity-added: rgba(20, 202, 191, 0.08);
    --identity-removed: rgba(118, 45, 52, 0.49);
  }
}
