@import './variables';

:root {
  --body-background: #{$white};
  --body-color: #{$gray-9};
  --navbar-bg: rgba(255, 255, 255, 0.2);
  --header-bg: linear-gradient(360deg, #e1e9f9 0.06%, #f3f7ff 99.2%);
  --bubbles-bg-image: url('../assets/bubbles.svg');
  --header-color: #{$gray-6};
  --header-box-bg: #{$white};
  --header-label-color: #{$gray-midnight};
  --header-svg-fill: #{$gray-7};
  --header-svg-bg: #{$gray-2};
  --border-color: #{$gray-2};
  --expanded-color: #{$gray-7};
  --light-bg: #{$gray-1};
  --input-border-color: #d9e1ef;
  --modal-color: #{$gray-7};
  --logo-filter: invert(0);
  --message-referenced-bg: #{$mint-green-1};
  --qr-color: #{$gray-9};
  --box-shadow-center: 0 0 4px rgb(132 147 173, 0.3);
  --box-shadow-down: 0 4px 30px rgba(132, 147, 173, 0.1);

  body.darkmode {
    --body-background: #091326;
    --body-color: #{$white};
    --navbar-bg: rgba(6, 16, 35, 0.2);
    --header-bg: linear-gradient(180deg, #{$gray-7} 0%, #{$gray-9} 100%);
    --bubbles-bg-image: url('../assets/bubbles-dark.svg');
    --header-color: #{$gray-5};
    --header-box-bg: #06102399;
    --header-label-color: #{$gray-3};
    --header-svg-fill: #{$gray-5};
    --header-svg-bg: #202e4a;
    --border-color: #ffffff1e;
    --expanded-color: #{$gray-5};
    --light-bg: #48577614;
    --input-border-color: #{$gray-5};
    --modal-color: #{$gray-3};
    --logo-filter: grayscale(1) invert(1);
    --message-referenced-bg: rgba(0, 224, 202, 0.2);
    --qr-color: #{$white};
  }
}
