$white: #ffffff;
$gray: #8493ad;
$gray-midnight: #131f37;
$gray-daylight: #f6f8fc;
$gray-1: #f2f5fb;
$gray-2: #e8eefb;
$gray-3: #d8e1f4;
$gray-4: #b0bfd9;
$gray-5: #909fbe;
$gray-6: #677695;
$gray-7: #485776;
$gray-8: #293858;
$gray-9: #131f37;
$gray-10: #485776;
$gray-11: #141e31;
$gray-light: #eef2fa;
$gray-noon: #f2f5fb;
$blue-5: #108cff;
$main-green: #0fc1b7;
$main-green-highlight: #00e0ca;
$panel-green: rgb(0 224 202 / 0.05%);
$dark-green: #2e8698;
$mint-green-1: #c8fffa;
$mint-green-6: #14cabf;
$mint-green-7: #36a1ac;
$green-6: #57d087;
$light-green: rgb(20 202 191 / 0.08%);
$input-border: #d9e1ef;
$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$warning: #ffc107;
$error: #ca493d;
$navbar-height-desktop: 80px;
$navbar-height-mobile: 56px;
$border-width: 1px;
$inner-padding: 24px;

// IOTA 2.0 colors
$iota2-blue-50: #f0f4ff;
$iota2-blue-100: #e0eaff;
$iota2-blue-200: #c8dafe;
$iota2-blue-300: #a6c3fc;
$iota2-blue-400: #82a5f8;
$iota2-blue-500: #5c84fa;
$iota2-blue-600: #2559f5;
$iota2-blue-700: #0101ff;
$iota2-blue-800: #0000db;
$iota2-blue-900: #0101ab;
$iota2-teal-50: #ecffff;
$iota2-teal-100: #befffd;
$iota2-teal-200: #7dfffc;
$iota2-teal-300: #38fffa;
$iota2-teal-400: #00e5e0;
$iota2-teal-500: #00ccc7;
$iota2-teal-600: #009a97;
$iota2-teal-700: #007b78;
$iota2-teal-800: #006664;
$iota2-teal-900: #005654;
$iota2-gray-50: #f8fafc;
$iota2-gray-100: #f1f5f9;
$iota2-gray-200: #e1e7ef;
$iota2-gray-300: #cbd5e1;
$iota2-gray-400: #94a3b8;
$iota2-gray-500: #65758b;
$iota2-gray-600: #48566a;
$iota2-gray-700: #344256;
$iota2-gray-800: #1d283a;
$iota2-gray-900: #0f1729;
$iota2-red-50: #fff8f8;
$iota2-red-100: #ffe9e9;
$iota2-red-200: #ffd3d3;
$iota2-red-300: #ffb1b1;
$iota2-red-400: #ff8383;
$iota2-red-500: #ff5050;
$iota2-red-600: #e73131;
$iota2-red-700: #cf1919;
$iota2-red-800: #8e0b0b;
$iota2-red-900: #8a0000;
