$black: #000000;
$gray: #8493ad;
$gray-midnight: #131f37;
$gray-daylight: #f6f8fc;
$gray-header: #b2c1dc;
$gray-10: #485776;
$gray-light: #eef2fa;
$gray-noon: #f2f5fb;
$white: #ffffff;

$main-green: #0fc1b7;
$main-green-highlight: #00e0ca;
$panel-green: rgba(0, 224, 202, 0.05);
$dark-green: #2e8698;

$input-border: #d9e1ef;

$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$warning: #ffc107;

$box-shadow: 0 4px 30px rgba(132, 147, 173, 0.1);

$body-background: #ffffff;
